{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter%}
{% block title %}失眠严重指数量表{% endblock %}
{% block css %}
<link href="{% static '/css/scales_style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="modal fade" id="exit_confirm" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 align="center"> 您确认要退出当前自评量表测评吗？</h4>
            <div align="center">
                <button type="button"
                        onclick="location='/scales/select_scales?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&session_id={{ session_id }}'"
                        class="btn btn-danger" style="width:68px;height:34px">退出
                </button>
                <button type="button" class="btn btn-success" style="width:68px;height:34px" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>
<div class="right_col" role="main">
    <div class="container">
        <div class="row show-grid">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                    <li>量表评估</li>
                    <li>自评量表</li>
                    <li class="active">失眠严重指数量表</li>
                    <div style="float: right;margin-bottom: 0;"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="dashboard_graph x_panel" style="margin-top: 0;height:80%;">
        <div class="row" style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">
            <div align="center" style="padding-left: 22.5%; padding-right: 22.5%">
                <h5>
                    <strong>
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        指导语：请评估你过去两个星期睡眠问题的严重程度。
                    </strong>
                </h5>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        {% csrf_token %}
        <div class="question_area" name="question_area" style="text-align: center">
            <form id="question_form" name="question_form" action="#">
                <h3>
                    <div name="question_text" id="question_text" class="row">a.入睡困难</div>
                </h3>
                <div id="options" class="options" style=" text-align: left;padding-left: 47.5%">
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=0 id="label_1"
                                   data-labelauty="没有"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=1 id="label_2"
                                   data-labelauty="轻微"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=2 id="label_3"
                                   data-labelauty="普通"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=3 id="label_4"
                                   data-labelauty="严重"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=4 id="label_5"
                                   data-labelauty="非常严重"/>
                        </label>
                    </div>
                </div>
                <div>
                    <input id="question_submit" type="button" class="btn btn-success text-center"
                           style="width:68px;height:34px" value="下一题">
                    <input type="button" class="btn btn-danger text-center exit_button" style="width:68px;height:34px"
                           value="退&nbsp;&nbsp;出">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>
<script>
    // dom加载完毕
    const $m_btn = $('.exit_button');
    const $modal = $('#exit_confirm');
    $m_btn.on('click', function () {
        $modal.modal({backdrop: 'static'});
    });

    // 测试 bootstrap 居中
    $modal.on('show.bs.modal', function () {
        const $this = $(this);
        const $modal_dialog = $this.find('.modal-dialog');
        // 关键代码，如没将modal设置为 block，则$modala_dialog.height() 为零
        $this.css('display', 'block');
        $modal_dialog.css({'margin-top': Math.max(0, ($(window).height() - $modal_dialog.height()) / 2)});
    });
    let time = new Date();
    let suicide = false;
    let question_index = 1 + {{ question_index }};
    let end_flag = 0;
    let isClick=false;
    for(let index  = 1 ; index < question_index ; index ++){
        update_question(index);
    }
    $(document).ready(function () {
        $("input[type='radio']").labelauty();
        $("#question_submit").on('click', function () {
            {# 1s内点击过 直接返回 #}
            if (isClick) {
                return;
            }
            {#点击成功 置为true#}
            isClick=true;
            {#重新开始计时#}
            setTimeout(function () {
                isClick = false;
            }, 1000);
            if (question_index > 7) {
                alert("请不要重复提交！");
            } else {
                const answers = document.getElementsByClassName("answer");
                let flag = 0;
                for (let i = 0; i < answers.length; i++) {
                    if (answers[i].checked && question_index <= 7) {
                        ajax_post($('#question_form'));
                        update_question(question_index);
                        question_index++;
                        flag = 1;
                        break;
                    }
                }
                if (flag == 0) {
                    alert("问题不能为空！");
                }
            }
        });
    });

    function get_duration() {
        const current_time = new Date();
        const duration = time - current_time;
        time = current_time;
        return -duration;
    }

    function alter_option_names(option_class_name, name) {
        const nodes = document.getElementsByClassName(option_class_name);
        for (let i = 0; i < nodes.length; i++) {
            nodes[i].setAttribute("name", name);
        }
    }


    function alter_option_text(parent_id, option_num, option_text) {
        const options = document.getElementById(parent_id);
        //checked
        options.childNodes[option_num * 2 + 1].childNodes[1].childNodes[2].childNodes[3].innerHTML = option_text;
        //uncheck
        options.childNodes[option_num * 2 + 1].childNodes[1].childNodes[2].childNodes[1].innerHTML = option_text;
    }

    //切换到下一题目以及选项
    function update_question(index) {
        switch (index) {
            case 1:
                document.getElementById('question_text').innerHTML = "b.难以维持睡眠";
                alter_option_names("answer", "question2_answer");
                break;
            case 2:
                document.getElementById('question_text').innerHTML = "c.太早就醒了的问题";
                alter_option_names("answer", "question3_answer");
                break;
            case 3:
                document.getElementById('question_text').innerHTML = "d.你对过去两个星期的睡眠状况满意度如何";
                alter_option_names("answer", "question4_answer");
                alter_option_text("options", 0, "非常满意");
                alter_option_text("options", 1, "满意");
                alter_option_text("options", 2, "一般");
                alter_option_text("options", 3, "不满意");
                alter_option_text("options", 4, "非常不满意");
                break;
            case 4:
                document.getElementById('question_text').innerHTML = "e.你认为你的睡眠问题妨碍你日常运作（例如：日渐疲劳、处理工作/日常时务的能力、集中力、记忆、情绪等等）到哪一个程度？";
                alter_option_names("answer", "question5_answer");
                alter_option_text("options", 0, "完全没有妨碍");
                alter_option_text("options", 1, "少许");
                alter_option_text("options", 2, "颇为");
                alter_option_text("options", 3, "非常");
                alter_option_text("options", 4, "极之妨碍");
                break;
            case 5:
                document.getElementById('question_text').innerHTML = "f.你的睡眠问题在降低生活质素而言，在其它人眼中有多明显?";
                alter_option_names("answer", "question6_answer");
                alter_option_text("options", 0, "完全不明显");
                alter_option_text("options", 1, "仅为");
                alter_option_text("options", 2, "颇为");
                alter_option_text("options", 3, "非常");
                alter_option_text("options", 4, "极之明显");
                break;
            case 6:
                document.getElementById('question_text').innerHTML = "g.你对你现时的睡眠问题有多忧虑/苦恼？";
                alter_option_names("answer", "question7_answer");
                alter_option_text("options", 0, "完全没有");
                alter_option_text("options", 1, "少许");
                alter_option_text("options", 2, "颇为");
                alter_option_text("options", 3, "非常");
                alter_option_text("options", 4, "非常大");
                // 跳转
                document.getElementById('question_submit').setAttribute('onclick', "location=\'" +

                    "/scales/get_next_self_scale_url?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}" +
                    "\'"
                );
                end_flag = 1;
                break;
        }
    }

    function ajax_post(form) {
        const csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            url: '/scales/self_tests_submit?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}',
            type: 'POST',
            dataType: 'JSON',
            data: {
                'data': form.serialize(),
                'question_index': question_index,
                'duration': get_duration(),
                'test_name': 'insomnia',
                'flag': end_flag,
                'csrfmiddlewaretoken': csrf
            }
        })
    }

</script>

{% endblock %}