{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter%}
{% block title %}快感体验能力量表{% endblock %}
{% block css %}
<link href="{% static '/css/scales_style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="modal fade" id="exit_confirm" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 align="center"> 您确认要退出当前自评量表测评吗？</h4>
            <div align="center">
                <button type="button" onclick="location='/scales/select_scales?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&session_id={{ session_id }}'" class="btn btn-danger" style="width:68px;height:34px">退出</button>
                <button type="button" class="btn btn-success" style="width:68px;height:34px" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>
<div class="right_col" role="main">
    <div class="container">
        <div class="row show-grid">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                    <li>量表评估</li>
                    <li>自评量表</li>
                    <li class="active">快感体验能力量表</li>
                    <div style="float: right;margin-bottom: 0;"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="dashboard_graph x_panel" style="margin-top: 0;height:80%;">
        <div class="row" style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">
            <div align="center" style="padding-left: 22.5%; padding-right: 22.5%">
                <h5>
                    <strong>
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        指导语：该量表用于测试您在最近数日能体会快乐的能力过的项目时，请仔细阅读每个项目，然后根据您的情况选择最适合的答案。
                    </strong>
                </h5>
            </div>
        </div>
        {% csrf_token %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="question_area" name="question_area" style="text-align: center">
            <form id="question_form" name="question_form" action="#">
                <h3>
                    <div name="question_test" id="question_test" class="row">1.当我得知我最喜欢演员的新片上映时，我非常渴望立刻看到。</div>
                </h3>
                <div class="options" style=" text-align: left;padding-left: 47.5%">
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=1
                                   data-labelauty="&nbsp;&nbsp;完全不符合"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=2
                                   data-labelauty="&nbsp;&nbsp;&nbsp;&nbsp;不符合&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=3
                                   data-labelauty="&nbsp;&nbsp;基本不符合"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=4
                                   data-labelauty="&nbsp;&nbsp;基本符合&nbsp;&nbsp;&nbsp;"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=5
                                   data-labelauty="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;符合&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=6
                                   data-labelauty="&nbsp;&nbsp;完全符合&nbsp;&nbsp;&nbsp;"/>
                        </label>
                    </div>
                </div>
                <div>
                    <input id="question_submit" type="button" class="btn btn-success text-center"
                           style="width:68px;height:34px" value="下一题">
                    <input type="button" class="btn btn-danger text-center exit_button" style="width:68px;height:34px"
                           value="退&nbsp;&nbsp;出">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>
<script>
    // dom加载完毕
    const $m_btn = $('.exit_button');
    const $modal = $('#exit_confirm');
    $m_btn.on('click', function () {
        $modal.modal({backdrop: 'static'});
    });

    // 测试 bootstrap 居中
    $modal.on('show.bs.modal', function () {
        const $this = $(this);
        const $modal_dialog = $this.find('.modal-dialog');
        // 关键代码，如没将modal设置为 block，则$modala_dialog.height() 为零
        $this.css('display', 'block');
        $modal_dialog.css({'margin-top': Math.max(0, ($(window).height() - $modal_dialog.height()) / 2)});
    });
    let time = new Date();
    let suicide = false;
    let question_index = 1 + {{ question_index }};
    let end_flag = 0;
    let isClick=true;
    for(let index = 1 ; index < question_index ; index ++){
        update_question(index);
    }
    $(document).ready(function () {

        $("input[type='radio']").labelauty();

        $("#question_submit").on('click', function () {

            if (question_index > 19) {
                alert("请不要重复提交！");
            } else {
                const answers = document.getElementsByClassName("answer");
                let flag = 0;
                for (let i = 0; i < answers.length; i++) {
                    if (answers[i].checked && question_index <= 19) {
                        ajax_post($('#question_form'));
                        update_question(question_index);
                        question_index++;
                        flag = 1;
                        break;
                    }
                }
                if (flag == 0) {
                    alert("问题不能为空！");
                }
            }
            $("input[type='radio']").removeAttr("checked");
            {# 限制点击频率 #}
            setTimeout(function () {
                isClick = false;
            }, 1000);
            if (isClick) {
                return;
            }
        });
    });

    function alter_option_names(option_class_name, name) {
        const nodes = document.getElementsByClassName(option_class_name);
        for (let i = 0; i < nodes.length; i++) {
            nodes[i].setAttribute("name", name);
        }
    }

    function get_duration() {
        const current_time = new Date();
        const duration = time - current_time;
        time = current_time;
        return -duration;
    }

    function update_question(index) {
        switch (index) {
            case 1:
                document.getElementById('question_test').innerHTML = "2.当我外出散步时，我很享受深呼吸新鲜空气的感觉";
                alter_option_names('answer', 'question2_answer');
                break;
            case 2:
                document.getElementById('question_test').innerHTML = "3.新割过草坪的气息让我感到享受";
                alter_option_names('answer', 'question3_answer');
                break;
            case 3:
                document.getElementById('question_test').innerHTML = "4.在我的生活中，我渴求很多东西";
                alter_option_names('answer', 'question4_answer');
                break;
            case 4:
                document.getElementById('question_test').innerHTML = "5.我很喜欢长辈抚摸我的头发";
                alter_option_names('answer', 'question5_answer');
                break;
            case 5:
                document.getElementById('question_test').innerHTML = "6.追求许多愉快事情本身对我来说也是一种快乐";
                alter_option_names('answer', 'question6_answer');
                break;
            case 6:
                document.getElementById('question_test').innerHTML = "7.寒冷早上一杯热咖啡或茶对我是大大的满足";
                alter_option_names('answer', 'question7_answer');
                break;
            case 7:
                document.getElementById('question_test').innerHTML = "8.当我想到美味的东西，比如巧克力饼干时，我非得给自己来上一块";
                alter_option_names('answer', 'question8_answer');
                break;
            case 8:
                document.getElementById('question_test').innerHTML = "9.我喜欢欣赏初雪的美景";
                alter_option_names('answer', 'question9_answer');
                break;
            case 9:
                document.getElementById('question_test').innerHTML = "10.重大节日前的夜晚，我常常兴奋得无法入眠";
                alter_option_names('answer', 'question10_answer');
                break;
            case 10:
                document.getElementById('question_test').innerHTML = "11.在去游乐园的路上，我就迫不及待的想去乘坐过山车";
                alter_option_names('answer', 'question11_answer');
                break;
            case 11:
                document.getElementById('question_test').innerHTML = "12.一个大哈欠会让我浑身舒坦";
                alter_option_names('answer', 'question12_answer');
                break;
            case 12:
                document.getElementById('question_test').innerHTML = "13.我对在外面餐馆吃饭之类的事情并没什么期待的";
                alter_option_names('answer', 'question13_answer');
                break;
            case 13:
                document.getElementById('question_test').innerHTML = "14.躺在温暖的床上，我喜欢倾听外面的雨声";
                alter_option_names('answer', 'question14_answer');
                break;
            case 14:
                document.getElementById('question_test').innerHTML = "15.品尝美食的场景进入脑海时，我几乎都能尝到它的美味";
                alter_option_names('answer', 'question15_answer');
                break;
            case 15:
                document.getElementById('question_test').innerHTML = "16.点完菜后，我就会想象接下来的美味";
                alter_option_names('answer', 'question16_answer');
                break;
            case 16:
                document.getElementById('question_test').innerHTML = "17.炉子上烹饪食物的声音让我感觉舒坦";
                alter_option_names('answer', 'question17_answer');
                break;
            case 17:
                document.getElementById('question_test').innerHTML = "18.当一些令人兴奋的事情即将出现在生活中时，我由衷的期待";
                alter_option_names('answer', 'question18_answer');
                document.getElementById('question_submit').setAttribute('onclick', "location=\'" +
                    "/scales/get_next_self_scale_url?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}" +
                    "\'"
                );
                end_flag = 1;
                break;
        }
    }

    function ajax_post(form) {
        isClick=true;
        const csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            url: 'http://' + location.host +
                '/scales/self_tests_submit?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}',
            type: 'POST',
            dataType: 'JSON',
            async: false,
            data: {
                'data': form.serialize(),
                'question_index': question_index,
                'duration': get_duration(),
                'test_name': 'teps',
                'flag': end_flag,
                'csrfmiddlewaretoken': csrf
            }
        })
    }

</script>

{% endblock %}