{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter%}
{% block title %}青少年生活事件量表{% endblock %}
{% block css %}
<link href="{% static '/css/scales_style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="modal fade" id="exit_confirm" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 align="center"> 您确认要退出当前自评量表测评吗？</h4>
            <div align="center">
                <button type="button" onclick="location='/scales/select_scales?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&session_id={{ session_id }}'" class="btn btn-danger" style="width:68px;height:34px">退出</button>
                <button type="button" class="btn btn-success" style="width:68px;height:34px" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>
<div class="right_col" role="main">
    <div class="container">
        <div class="row show-grid">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                    <li>量表评估</li>
                    <li>自评量表</li>
                    <li class="active">青少年生活事件量表</li>
                    <div style="float: right;margin-bottom: 0;"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="dashboard_graph x_panel" style="margin-top: 0;height:80%;">
        <div class="row" style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">
            <div align="center" style="padding-left: 22.5%; padding-right: 22.5%">
                <h5>
                    <strong>
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        指导语：过去12个月内，你和你的家庭是否发生过下列事件？请仔细阅读下列每一个项目，如发生过，并根据事件给你造成的苦恼程度在相对方格内打个勾
                        。如果某件事未发生，仅在事件未发生栏内打个勾就可以了。
                    </strong>
                </h5>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="question_area" name="question_area" style="text-align: center">
            {% csrf_token %}
            <form id="question_form" name="question_form" action="#">
                <h3>
                    <div name="question_test" id="question_test" class="row">1.被人误会或错怪</div>
                </h3>
                <div style="text-align: left;padding-left: 40%">
                    <label>未发生过：</label>
                </div>
                <div id="options_1" class="options" style=" text-align: left;padding-left: 47.5%">
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=0 data-labelauty="未发生"/>
                        </label>
                    </div>
                </div>
                <div style="text-align: left;padding-left: 40%">
                    <label>发生过，对您的影响程度：</label>
                </div>
                <div id="options_2" class="options" style=" text-align: left;padding-left: 47.5%">

                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=1 data-labelauty="没有"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=2 data-labelauty="轻度"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=3 data-labelauty="中度"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=4 data-labelauty="重度"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=5 data-labelauty="极重"/>
                        </label>
                    </div>
                </div>
                <div>
                    <input id="question_submit" type="button" class="btn btn-success text-center"
                           style="width:68px;height:34px" value="下一题">
                    <input type="button" class="btn btn-danger text-center exit_button" style="width:68px;height:34px"
                           value="退&nbsp;&nbsp;出">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>
<script>
    // dom加载完毕
    const $m_btn = $('.exit_button');
    const $modal = $('#exit_confirm');
    $m_btn.on('click', function () {
        $modal.modal({backdrop: 'static'});
    });

    // 测试 bootstrap 居中
    $modal.on('show.bs.modal', function () {
        const $this = $(this);
        const $modal_dialog = $this.find('.modal-dialog');
        // 关键代码，如没将modal设置为 block，则$modala_dialog.height() 为零
        $this.css('display', 'block');
        $modal_dialog.css({'margin-top': Math.max(0, ($(window).height() - $modal_dialog.height()) / 2)});
    });
    let time = new Date();
    let suicide = false;
    let question_index = 1 + {{ question_index }};
    let end_flag = 0;
    let isClick=false;
    for(let index = 1 ; index < question_index ; index ++){
        update_question(index);
    }
    $(document).ready(function () {
        $("input[type='radio']").labelauty();
        $("#question_submit").on('click', function () {
            {# 1s内点击过 直接返回 #}
            if (isClick) {
                return;
            }
            {#点击成功 置为true#}
            isClick=true;
            {#重新开始计时#}
            setTimeout(function () {
                isClick = false;
            }, 1000);
            if (question_index > 27) {
                alert("请不要重复提交！");
            } else {
                const answers = document.getElementsByClassName("answer");
                let flag = 0;
                for (let i = 0; i < answers.length; i++) {
                    if (answers[i].checked) {
                        ajax_post($('#question_form'));
                        update_question(question_index);
                        question_index++;
                        flag = 1;
                        break;
                    }
                }
                if (flag == 0) {
                    alert("问题不能为空！");
                }
            }
            $("input[type='radio']").removeAttr("checked");
        });
    });

    function get_duration() {
        const current_time = new Date();
        const duration = time - current_time;
        time = current_time;
        return -duration;
    }

    function alter_option_names(option_class_name, name) {
        const nodes = document.getElementsByClassName(option_class_name);
        for (let i = 0; i < nodes.length; i++) {
            nodes[i].setAttribute("name", name);
        }
    }

    function update_question(index) {
        switch (index) {
            case 1:
                document.getElementById('question_test').innerHTML = "2.受人歧视冷遇";
                alter_option_names("answer", "question2_answer");
                break;
            case 2:
                document.getElementById('question_test').innerHTML = "3.考试失败或不理想";
                alter_option_names("answer", "question3_answer");
                break;
            case 3:
                document.getElementById('question_test').innerHTML = "4.与同学或好友发生纠纷";
                alter_option_names("answer", "question4_answer");
                break;
            case 4:
                document.getElementById('question_test').innerHTML = "5.生活习惯（饮食、休息等）明显变化";
                alter_option_names("answer", "question5_answer");
                break;
            case 5:
                document.getElementById('question_test').innerHTML = "6.不喜欢上学";
                alter_option_names("answer", "question6_answer");
                break;
            case 6:
                document.getElementById('question_test').innerHTML = "7.恋爱不顺利或失恋";
                alter_option_names("answer", "question7_answer");
                break;
            case 7:
                document.getElementById('question_test').innerHTML = "8.长期远离家人不能团聚";
                alter_option_names("answer", "question8_answer");
                break;
            case 8:
                document.getElementById('question_test').innerHTML = "9.学生负担重";
                alter_option_names("answer", "question9_answer");
                break;
            case 9:
                document.getElementById('question_test').innerHTML = "10.与老师关系紧张";
                alter_option_names("answer", "question10_answer");
                break;
            case 10:
                document.getElementById('question_test').innerHTML = "11.本人患急重病";
                alter_option_names("answer", "question11_answer");
                break;
            case 11:
                document.getElementById('question_test').innerHTML = "12.亲友患急重病";
                alter_option_names("answer", "question12_answer");
                break;
            case 12:
                document.getElementById('question_test').innerHTML = "13.亲友死亡";
                alter_option_names("answer", "question13_answer");
                break;
            case 13:
                document.getElementById('question_test').innerHTML = "14.被盗或丢失东西";
                alter_option_names("answer", "question14_answer");
                break;
            case 14:
                document.getElementById('question_test').innerHTML = "15.当众丢面子";
                alter_option_names("answer", "question15_answer");
                break;
            case 15:
                document.getElementById('question_test').innerHTML = "16.家庭经济困难";
                alter_option_names("answer", "question16_answer");
                break;
            case 16:
                document.getElementById('question_test').innerHTML = "17.家庭内部有矛盾";
                alter_option_names("answer", "question17_answer");
                break;
            case 17:
                document.getElementById('question_test').innerHTML = "18.预期评选（如三好学生）落空";
                alter_option_names("answer", "question18_answer");
                break;
            case 18:
                document.getElementById('question_test').innerHTML = "19.受批评或处分";
                alter_option_names("answer", "question19_answer");
                break;
            case 19:
                document.getElementById('question_test').innerHTML = "20.转学或休学";
                alter_option_names("answer", "question20_answer");
                break;
            case 20:
                document.getElementById('question_test').innerHTML = "21.被罚款";
                alter_option_names("answer", "question21_answer");
                break;
            case 21:
                document.getElementById('question_test').innerHTML = "22.升学压力";
                alter_option_names("answer", "question22_answer");
                break;
            case 22:
                document.getElementById('question_test').innerHTML = "23.与人打架";
                alter_option_names("answer", "question23_answer");
                break;
            case 23:
                document.getElementById('question_test').innerHTML = "24.遭父母打骂";
                alter_option_names("answer", "question24_answer");
                break;
            case 24:
                document.getElementById('question_test').innerHTML = "25.家庭给你施加学习压力";
                alter_option_names("answer", "question25_answer");
                break;
            case 25:
                document.getElementById('question_test').innerHTML = "26.意外惊吓，事故";
                alter_option_names("answer", "question26_answer");
                break;
            case 26:
                document.getElementById('question_test').innerHTML = "27.如有其他事件说明";
                alter_option_names("answer", "question27_answer");
                end_flag = 1;
                // 跳转
                document.getElementById('question_submit').setAttribute('onclick', "location=\'" +

                    "/scales/get_next_self_scale_url?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}" +
                    "\'"
                );
                break;
        }
    }

    function ajax_post(form) {
        const csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            url: 'http://' + location.host +
                '/scales/self_tests_submit?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}',
            type: 'POST',
            dataType: 'JSON',
            async: false,
            data: {
                'data': form.serialize(),
                'question_index': question_index,
                'duration': get_duration(),
                'flag': end_flag,
                'test_name': "aslec",
                'csrfmiddlewaretoken': csrf
            }
        })
    }
</script>

{% endblock %}