{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter%}
{% block title %}33项轻躁狂症状清单{% endblock %}
{% block css %}
<link href="{% static '/css/scales_style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="modal fade" id="exit_confirm" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 align="center"> 您确认要退出当前自评量表测评吗？</h4>
            <div align="center">
                <button type="button" onclick="location='/scales/select_scales?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&session_id={{ session_id }}'" class="btn btn-danger" style="width:68px;height:34px">退出</button>
                <button type="button" class="btn btn-success" style="width:68px;height:34px" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>
<div class="right_col" role="main">
    <div class="container">
        <div class="row show-grid">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                    <li>量表评估</li>
                    <li>自评量表</li>
                    <li class="active">33项轻躁狂症状清单</li>
                    <div style="float: right;margin-bottom: 0;"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="dashboard_graph x_panel" style="margin-top: 0;height:80%;">
        <div class="row" style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">
            <div align="center" style="padding-left: 22.5%; padding-right: 22.5%">
                <h5>
                    <strong>
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        指导语：每个人在一生中的不同时期都会体验到精力、活力和情绪上的变化或波动（“高涨”与“低落”或“向上”与“向下”）。
                        <br><br>
                        此问卷的目的旨在评估您在“高涨”时期的特点。
                    </strong>
                </h5>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        {% csrf_token %}
        <div class="question_area" name="question_area" style="text-align: center">
            <form id="question_form_1" name="question_form_1" action="#">
                <h3>
                    <div name="question_text_1" id="question_text_1" class="row">1. 首先，和平常的状态比起来，您今天感觉怎么样？</div>
                </h3>
                <div id="options_1" class="options" style=" text-align: left;padding-left: 45%">
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer_1" name="question1" value=0 data-labelauty="比平常差多了"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer_1" name="question1" value=1 data-labelauty="比平常差"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer_1" name="question1" value=2 data-labelauty="比平常差一点"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer_1" name="question1" value=3 data-labelauty="和平常差不多"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer_1" name="question1" value=4 data-labelauty="比平常好"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer_1" name="question1" value=5 data-labelauty="比平常好一点"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer_1" name="question1" value=6 data-labelauty="比平常好很多"/>
                        </label>
                    </div>
                </div>
                <div>
                    <input id="question_submit_1" type="button" class="btn btn-success text-center"
                           style="width:68px;height:34px" value="下一题">
                    <input type="button" class="btn btn-danger text-center exit_button" style="width:68px;height:34px"
                           value="退&nbsp;&nbsp;出">
                </div>
            </form>
            <form id="question_form_2" name="question_form_2" action="#" style="display: none">
                <h3>
                    <div name="question_text_2" id="question_text_2" class="row">3.
                        请尽力回忆当您处于“高涨”状态时，您那个时候的感觉怎么样？请您对下列所有的描述进行回答,不管您现在的状态如何。
                    </div>
                </h3>
                <h3>
                    <div name="sub_question_test_2" id="sub_question_text_2" class="row">1) 我需要比较少的睡眠</div>
                </h3>
                <div id="options_2" class="options_2" style=" text-align: left;padding-left: 47.5%">
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer_2" name="question3_1" value=1 data-labelauty="是"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer_2" name="question3_1" value=0 data-labelauty="否"/>
                        </label>
                    </div>
                </div>
                <div>
                    <input id="question_submit_2" type="button" class="btn btn-success text-center"
                           style="width:68px;height:34px" value="下一题">
                    <input type="button" class="btn btn-danger text-center exit_button" style="width:68px;height:34px"
                           value="退&nbsp;&nbsp;出">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>
<script>
    $("input[type='radio']").labelauty();
    // dom加载完毕
    const $m_btn = $('.exit_button');
    const $modal = $('#exit_confirm');
    $m_btn.on('click', function () {
        $modal.modal({backdrop: 'static'});
    });

    // 测试 bootstrap 居中
    $modal.on('show.bs.modal', function () {
        const $this = $(this);
        const $modal_dialog = $this.find('.modal-dialog');
        // 关键代码，如没将modal设置为 block，则$modala_dialog.height() 为零
        $this.css('display', 'block');
        $modal_dialog.css({'margin-top': Math.max(0, ($(window).height() - $modal_dialog.height()) / 2)});
    });
    let time = new Date();
    let question_index_1 = 1;
    let question_index_2 = 1;
    let question_index = 1 + {{ question_index }};
    let end_flag = 0;
    let isClick=false;
    if(question_index <= 2){
        for(let index = 1 ; index < question_index ; index ++){
            update_question_1(index);
        }
        question_index_1 = question_index;
    }else if(question_index < 36){
        question_index_1 = 3;
        update_question_1(2);
        $('#question_form_1').hide();
        $('#question_form_2').show();
        question_index_2 = question_index - 2;
        for(let index = 1 ; index < question_index_2 ; index ++){
            update_question_2(index);
        }
    }else{
        question_index_1 = question_index - 33;
        question_index_2 = 33;
        for(let index = 1 ; index < question_index_1 ; index ++){
            update_question_1(index);
        }
    }

    $(document).ready(function () {
        $("#question_submit_1").on('click', function () {
            if (isClick) {
                return;
            }
            isClick=true;
            setTimeout(function () {
                isClick = false;
            }, 1000);
            if (question_index > 46) {
                alert("请不要重复提交！");
            } else if (question_index_1 == 2) {
                if (document.getElementsByName('question2').value === "") {
                    alert("问题不能为空！");
                }
                ajax_post($('#question_form_1'));
                update_question_1(question_index_1);
                $('#question_form_1').hide();
                $('#question_form_2').show();
                question_index_1++;
                question_index++;
            } else if (question_index_1 === 10) {
                if (document.question_form_1.question7.value === "0") {
                    ajax_post($('#question_form_1'));

                    update_question_1(question_index_1 + 1);
                    question_index++;
                    question_index++;
                    question_index_1++;
                    question_index_1++;
                } else if (document.question_form_1.question7.value === "1") {
                    ajax_post($('#question_form_1'));
                    update_question_1(question_index_1);
                    question_index++;
                    question_index_1++;
                } else {
                    alert("问题不能为空！");
                }
            }else if(question_index_1 === 11){
                const answer = document.getElementsByName('question8').value;
                if (answer === ""){
                    alert("问题不能为空！");
                }else{
                    ajax_post($('#question_form_1'));
                    update_question_1(question_index_1);
                    question_index++;
                    question_index_1++;
                }
            } else {
                const answers = document.getElementsByClassName("answer_1");
                let flag = 0;
                for (let i = 0; i < answers.length; i++) {
                    if (answers[i].checked && question_index <= 46) {
                        ajax_post($('#question_form_1'));
                        update_question_1(question_index_1);
                        question_index++;
                        question_index_1++;
                        flag = 1;
                        break;
                    }
                }
                if(flag == 0){
                    alert("问题不能为空！");
                }
            }
            $("input[type='radio']").removeAttr("checked");
        });

        $("#question_submit_2").on('click', function () {
            if (isClick) {
                return;
            }
            isClick=true;
            setTimeout(function () {
                isClick = false;
            }, 1000);
            if (question_index_2 == 33) {
                ajax_post($('#question_form_2'));
                update_question_2(question_index_2);
                $('#question_form_2').hide();
                $('#question_form_1').show();
                question_index++;
            } else {
                const answers = document.getElementsByClassName("answer_2");
                let flag = 0;
                for (let i = 0; i < answers.length; i++) {
                    if (answers[i].checked && question_index_2 < 33) {
                        ajax_post($('#question_form_2'));
                        update_question_2(question_index_2);
                        question_index++;
                        question_index_2++;
                        flag = 1;
                        break;
                    }
                }
                if (flag == 0) {
                    alert("问题不能为空！");
                }
            }
            $("input[type='radio']").removeAttr("checked");
        });
    });

    function alter_value(parent_id, option_num, value) {
        const options = document.getElementById(parent_id);
        // 改变选项value
        options.childNodes[option_num * 2 + 1].childNodes[1].childNodes[1].value = value;
    }

    function hidden_nodes(parent_id, option_num) {
        const options = document.getElementById(parent_id);
        options.childNodes[option_num * 2 + 1].style.display = "none";
    }

    function show_nodes(parent_id, option_num) {
        const options = document.getElementById(parent_id);
        options.childNodes[option_num * 2 + 1].style.display = "block";
    }

    function alter_option_text(parent_id, option_num, option_text) {
        const options = document.getElementById(parent_id);
        //checked
        options.childNodes[option_num * 2 + 1].childNodes[1].childNodes[2].childNodes[3].innerHTML = option_text;
        //uncheck
        options.childNodes[option_num * 2 + 1].childNodes[1].childNodes[2].childNodes[1].innerHTML = option_text;
    }

    function get_duration() {
        const current_time = new Date();
        const duration = time - current_time;
        time = current_time;
        return -duration;
    }

    function alter_option_names(option_class_name, name) {
        const nodes = document.getElementsByClassName(option_class_name);
        for (let i = 0; i < nodes.length; i++) {
            nodes[i].setAttribute("name", name);
        }
    }

    function update_question_1(index) {
        switch (index) {
            case 1:
                document.getElementById('question_text_1').innerHTML = "2. 与其他人相比，您觉得自己怎么样？<br/><br>" +
                    "不管您今天感觉怎么样，请告诉我们通常情况下您和其他人相比的情况，请在下面选出最合适您的描述.<br/><br>";
                alter_option_text("options_1", 0, "总是相当稳定");
                alter_option_text("options_1", 1, "通常比较高涨一些");
                alter_option_text("options_1", 2, "通常比较低落一些");
                alter_option_text("options_1", 3, "反复的出现高涨与低落");
                hidden_nodes("options_1", 4);
                hidden_nodes("options_1", 5);
                hidden_nodes("options_1", 6);
                alter_option_names("answer_1", "question2");
                break;
            case 2:
                document.getElementById('question_text_1').innerHTML = "4.您的“高涨”状态对您家庭生活的影响：<br/><br>";
                alter_option_text("options_1", 0, "正面与负面都有");
                alter_option_text("options_1", 1, "正面影响");
                alter_option_text("options_1", 2, "负面影响");
                alter_option_text("options_1", 3, "没有影响");
                alter_option_names("answer_1", "question4_1");
                break;
            case 3:
                document.getElementById('question_text_1').innerHTML = "4.您的“高涨”状态对您社会生活的影响：<br/><br>";
                alter_option_names("answer_1", "question4_2");
                break;
            case 4:
                document.getElementById('question_text_1').innerHTML = "4.您的“高涨”状态对您工作的影响：<br/><br>";
                alter_option_names("answer_1", "question4_3");
                break;
            case 5:
                document.getElementById('question_text_1').innerHTML = "4.您的“高涨”状态对您休闲的影响：<br/><br>";
                alter_option_names("answer_1", "question4_4");
                break;
            case 6:
                document.getElementById('question_text_1').innerHTML = "5. 与您亲近的人对您“高涨”状态有什么反应或意见？<br/><br>";
                alter_option_text("options_1", 0, "正面的（鼓励和支持）");
                alter_option_text("options_1", 1, "中性的");
                alter_option_text("options_1", 2, "负面的（关注、恼火、生气、批评）");
                alter_option_text("options_1", 3, "正面和负面都有");
                alter_option_text("options_1", 4, "没有反应");
                show_nodes("options_1", 4);
                alter_option_names("answer_1", "question5");
                break;
            case 7:
                document.getElementById('question_text_1').innerHTML = "6 a). 您过去的“高涨”状态最长一次持续了多久？ （请在下列选项中选出一项）<br/><br>";
                alter_option_text("options_1", 0, "1天");
                alter_option_text("options_1", 1, "2-3天");
                alter_option_text("options_1", 2, "4-6天");
                alter_option_text("options_1", 3, "1-3周");
                alter_option_text("options_1", 4, "1个月以上");
                alter_option_text("options_1", 5, "我不能判断或不知道");
                show_nodes("options_1", 5);
                alter_option_names("answer_1", "question6_1");
                break;
            case 8:
                document.getElementById('question_text_1').innerHTML = "6 b). “高涨”状态通常的持续时间 (平均)：";
                alter_option_names("answer_1", "question6_2");
                break;
            case 9:
                document.getElementById('question_text_1').innerHTML = "7. 在过去的 12 个月中，您经历过这种“高涨”的状态吗？<br/><br>";
                alter_option_text("options_1", 0, "是");
                alter_option_text("options_1", 1, "否");
                alter_value("options_1", 0, 1);
                alter_value("options_1", 1, 0);
                hidden_nodes("options_1", 2);
                hidden_nodes("options_1", 3);
                hidden_nodes("options_1", 4);
                hidden_nodes("options_1", 5);
                alter_option_names("answer_1", "question7");
                break;
            case 10:
                hidden_nodes("options_1", 0);
                hidden_nodes("options_1", 1);
                document.getElementById('question_text_1').innerHTML =
                    "8. 若是，请估计在过去 12 个月中您在这种“高涨”状态中度过多少天。总计大约多少天:" +
                    "<input type='text' name='question8' width='20px'><br/><br>";

                break;
            //
            case 11:
                show_nodes("options_1", 0);
                show_nodes("options_1", 1);
                document.getElementById('question_text_1').innerHTML = "9.您可以把自己描述为一个上下起伏的人吗：<br>" +
                    "一段时间极度兴奋，另一段时间则愁眉苦脸？<br/><br>";
                alter_option_names("answer_1", "question9");
                break;
            case 12:
                document.getElementById('question_text_1').innerHTML = "10. 您的情绪有时会突然转变吗？<br/><br>";
                alter_option_names("answer_1", "question10");
                // 跳转
                document.getElementById('question_submit_1').setAttribute('onclick', "location=\'" +

                    "/scales/get_next_self_scale_url?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}" +
                    "\'"
                );
                end_flag = 1;
                break;
        }
    }

    function update_question_2(index) {
        switch (index) {
            case 1:
                document.getElementById('sub_question_text_2').innerHTML = "2) 我感觉更有精力并且更加活跃";
                alter_option_names("answer_2", "question3_2");
                break;
            case 2:
                document.getElementById('sub_question_text_2').innerHTML = "3) 我更自信";
                alter_option_names("answer_2", "question3_3");
                break;
            case 3:
                document.getElementById('sub_question_text_2').innerHTML = "4) 我更加享受我的工作";
                alter_option_names("answer_2", "question3_4");
                break;
            case 4:
                document.getElementById('sub_question_text_2').innerHTML = "5) 我社交活动更多（打更多的电话，外出更多）";
                alter_option_names("answer_2", "question3_5");
                break;
            case 5:
                document.getElementById('sub_question_text_2').innerHTML = "6) 我更想去旅行和/或者我旅行更多";
                alter_option_names("answer_2", "question3_6");
                break;
            case 6:
                document.getElementById('sub_question_text_2').innerHTML = "7) 我想开车更快，或更冒险地开车";
                alter_option_names("answer_2", "question3_7");
                break;
            case 7:
                document.getElementById('sub_question_text_2').innerHTML = "8) 我花钱更多，或花了太多钱";
                alter_option_names("answer_2", "question3_8");
                break;
            case 8:
                document.getElementById('sub_question_text_2').innerHTML = "9) 在日常生活中，我更加冒险（在工作和/或在其它活动上）";
                alter_option_names("answer_2", "question3_9");
                break;
            case 9:
                document.getElementById('sub_question_text_2').innerHTML = "10) 我体力活动量增多（如体育运动等）";
                alter_option_names("answer_2", "question3_10");
                break;
            case 10:
                document.getElementById('sub_question_text_2').innerHTML = "11) 我计划更多的活动或者项目";
                alter_option_names("answer_2", "question3_11");
                break;
            case 11:
                document.getElementById('sub_question_text_2').innerHTML = "12) 我有更多的点子，更有创造力";
                alter_option_names("answer_2", "question3_12");
                break;
            case 12:
                document.getElementById('sub_question_text_2').innerHTML = "13) 我很少害羞或者感到受约束";
                alter_option_names("answer_2", "question3_13");
                break;
            case 13:
                document.getElementById('sub_question_text_2').innerHTML = "14) 我会穿更加鲜艳、更加奢侈的衣服/用更鲜艳、奢侈的化妆品";
                alter_option_names("answer_2", "question3_14");
                break;
            case 14:
                document.getElementById('sub_question_text_2').innerHTML = "15) 我想接触更多的人，或者的确接触了更多的人";
                alter_option_names("answer_2", "question3_15");
                break;
            case 15:
                document.getElementById('sub_question_text_2').innerHTML = "16) 我对“性”更感兴趣，并且/或者性的方面更活跃";
                alter_option_names("answer_2", "question3_16");
                break;
            case 16:
                document.getElementById('sub_question_text_2').innerHTML = "17) 我讲话更多";
                alter_option_names("answer_2", "question3_17");
                break;
            case 17:
                document.getElementById('sub_question_text_2').innerHTML = "18) 我思维更快";
                alter_option_names("answer_2", "question3_18");
                break;
            case 18:
                document.getElementById('sub_question_text_2').innerHTML = "19) 我讲话时会开更多的玩笑，或者说更多俏皮话";
                alter_option_names("answer_2", "question3_19");
                break;
            case 19:
                document.getElementById('sub_question_text_2').innerHTML = "20) 我更容易分心";
                alter_option_names("answer_2", "question3_20");
                break;
            case 20:
                document.getElementById('sub_question_text_2').innerHTML = "21) 我尝试许多新鲜事物";
                alter_option_names("answer_2", "question3_21");
                break;
            case 21:
                document.getElementById('sub_question_text_2').innerHTML = "22) 我的想法经常从一个话题跳到另一个话题";
                alter_option_names("answer_2", "question3_22");
                break;
            case 22:
                document.getElementById('sub_question_text_2').innerHTML = "23) 我做事比平时更快，并且/或者感到更容易";
                alter_option_names("answer_2", "question3_23");
                break;
            case 23:
                document.getElementById('sub_question_text_2').innerHTML = "24) 我更没有耐心，并且/或者更容易激惹";
                alter_option_names("answer_2", "question3_24");
                break;
            case 24:
                document.getElementById('sub_question_text_2').innerHTML = "25) 我更令别人疲惫不堪，或者更容易让别人发怒";
                alter_option_names("answer_2", "question3_25");
                break;
            case 25:
                document.getElementById('sub_question_text_2').innerHTML = "26) 我陷入更多的争吵";
                alter_option_names("answer_2", "question3_26");
                break;
            case 26:
                document.getElementById('sub_question_text_2').innerHTML = "27) 我的情绪更高涨、更乐观";
                alter_option_names("answer_2", "question3_27");
                break;
            case 27:
                document.getElementById('sub_question_text_2').innerHTML = "28) 我喝更多的咖啡";
                alter_option_names("answer_2", "question3_28");
                break;
            case 28:
                document.getElementById('sub_question_text_2').innerHTML = "29) 我吸更多的烟";
                alter_option_names("answer_2", "question3_29");
                break;
            case 29:
                document.getElementById('sub_question_text_2').innerHTML = "30) 我喝更多的酒";
                alter_option_names("answer_2", "question3_30");
                break;
            case 30:
                document.getElementById('sub_question_text_2').innerHTML = "31) 我服用更多的药物 (指：镇静剂、抗焦虑剂、兴奋剂等)";
                alter_option_names("answer_2", "question3_31");
                break;
            case 31:
                document.getElementById('sub_question_text_2').innerHTML = "32) 我参加更多的游戏或赌博活动";
                alter_option_names("answer_2", "question3_32");
                break;
            case 32:
                document.getElementById('sub_question_text_2').innerHTML = "33) 我吃得更多或参加更多的狂欢";
                alter_option_names("answer_2", "question3_33");
                break;
        }
    }

    function ajax_post(form) {
        const csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            url: 'http://' + location.host +
                '/scales/self_tests_submit?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}',
            type: 'POST',
            dataType: 'JSON',
            async: false,
            data: {
                'data': form.serialize(),
                'question_index': question_index,
                'duration': get_duration(),
                'test_name': 'hcl_33',
                'flag': end_flag,
                'csrfmiddlewaretoken': csrf
            }
        })
    }

</script>

{% endblock %}