{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter%}
{% block title %}自动思维问卷{% endblock %}
{% block css %}
<link href="{% static '/css/scales_style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="modal fade" id="exit_confirm" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 align="center"> 您确认要退出当前自评量表测评吗？</h4>
            <div align="center">
                <button type="button" onclick="location='/scales/select_scales?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&session_id={{ session_id }}'" class="btn btn-danger" style="width:68px;height:34px">退出</button>
                <button type="button" class="btn btn-success" style="width:68px;height:34px" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>
<div class="right_col" role="main">
    <div class="container">
        <div class="row show-grid">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                    <li>量表评估</li>
                    <li>自评量表</li>
                    <li class="active">自动思维问卷</li>
                    <div style="float: right;margin-bottom: 0;"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="dashboard_graph x_panel" style="margin-top: 0;height:80%;">
        <div class="row" style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">
            <div align="center" style="padding-left: 18%; padding-right: 20%">
                <h5>
                    <strong>
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        指导语：下列是一些可能涌入人们头脑中的想法，请逐条阅读，说明你在最近一周内是否出现过这类想法，其频度如何。
                    </strong>
                </h5>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="question_area" name="question_area" style="text-align: center">
            {% csrf_token %}
            <form id="question_form" name="question_form" action="#">
                <h3>
                    <div name="question_test" id="question_test" class="row">1.我觉得活在世上困难重重。</div>
                </h3>
                <div id="options" class="options" style=" text-align: left;padding-left: 47.5%">
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=1 data-labelauty="无"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=2 data-labelauty="偶尔出现"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=3 data-labelauty="有时出现"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=4 data-labelauty="经常出现"/>
                        </label>
                    </div>
                    <div class="row show-grid" style="margin:10px">
                        <label>
                            <input type="radio" class="answer" name="question1_answer" value=5 data-labelauty="持续存在"/>
                        </label>
                    </div>
                </div>
                <div>
                    <input id="question_submit" type="button" class="btn btn-success text-center"
                           style="width:68px;height:34px" value="下一题">
                    <input type="button" class="btn btn-danger text-center exit_button" style="width:68px;height:34px"
                           value="退&nbsp;&nbsp;出">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js'%}"></script>
<script>
    // dom加载完毕
    const $m_btn = $('.exit_button');
    const $modal = $('#exit_confirm');
    $m_btn.on('click', function () {
        $modal.modal({backdrop: 'static'});
    });

    // 测试 bootstrap 居中
    $modal.on('show.bs.modal', function () {
        const $this = $(this);
        const $modal_dialog = $this.find('.modal-dialog');
        // 关键代码，如没将modal设置为 block，则$modala_dialog.height() 为零
        $this.css('display', 'block');
        $modal_dialog.css({'margin-top': Math.max(0, ($(window).height() - $modal_dialog.height()) / 2)});
    });
    let time = new Date();
    let suicide = false;
    let end_flag = 0;
    let question_index = 1 + {{ question_index }};
    let isClick=false;
    function alter_option_names(option_class_name, name) {
        const nodes = document.getElementsByClassName(option_class_name);
        for (let i = 0; i < nodes.length; i++) {
            nodes[i].setAttribute("name", name);
        }
    }

    function update_question(index) {
        switch (index) {
            case 1:
                document.getElementById('question_test').innerHTML = "2.我不好。";
                alter_option_names("answer", "question2_answer");
                break;
            case 2:
                document.getElementById('question_test').innerHTML = "3.为什么我总不能成功？";
                alter_option_names("answer", "question3_answer");
                break;
            case 3:
                document.getElementById('question_test').innerHTML = "4.没有人理解我。";
                alter_option_names("answer", "question4_answer");
                break;
            case 4:
                document.getElementById('question_test').innerHTML = "5.我让人失望。";
                alter_option_names("answer", "question5_answer");
                break;
            case 5:
                document.getElementById('question_test').innerHTML = "6.我觉得过不下去了。";
                alter_option_names("answer", "question6_answer");
                break;
            case 6:
                document.getElementById('question_test').innerHTML = "7.真希望我能好一点。";
                alter_option_names("answer", "question7_answer");
                break;
            case 7:
                document.getElementById('question_test').innerHTML = "8.我很虚弱。";
                alter_option_names("answer", "question8_answer");
                break;
            case 8:
                document.getElementById('question_test').innerHTML = "9.我的生活不按我的愿望发展。";
                alter_option_names("answer", "question9_answer");
                break;
            case 9:
                document.getElementById('question_test').innerHTML = "10.我对自己很不满意。";
                alter_option_names("answer", "question10_answer");
                break;
            case 10:
                document.getElementById('question_test').innerHTML = "11.我觉得一切都不好了。";
                alter_option_names("answer", "question11_answer");
                break;
            case 11:
                document.getElementById('question_test').innerHTML = "12.我无法坚持下去。";
                alter_option_names("answer", "question12_answer");
                break;
            case 12:
                document.getElementById('question_test').innerHTML = "13.我无法重新开始。";
                alter_option_names("answer", "question13_answer");
                break;
            case 13:
                document.getElementById('question_test').innerHTML = "14.我究竟犯了什么毛病？";
                alter_option_names("answer", "question14_answer");
                break;
            case 14:
                document.getElementById('question_test').innerHTML = "15.真希望我是在另外一个地方。";
                alter_option_names("answer", "question15_answer");
                break;
            case 15:
                document.getElementById('question_test').innerHTML = "16.我无法同时对付这些事情。";
                alter_option_names("answer", "question16_answer");
                break;
            case 16:
                document.getElementById('question_test').innerHTML = "17.我恨我自己";
                alter_option_names("answer", "question17_answer");
                break;
            case 17:
                document.getElementById('question_test').innerHTML = "18.我毫无价值。";
                alter_option_names("answer", "question18_answer");
                break;
            case 18:
                document.getElementById('question_test').innerHTML = "19.真希望我一下子就消失了。";
                alter_option_names("answer", "question19_answer");
                break;
            case 19:
                document.getElementById('question_test').innerHTML = "20.我这是怎么了？";
                alter_option_names("answer", "question20_answer");
                break;
            case 20:
                document.getElementById('question_test').innerHTML = "21.我是个失败者。";
                alter_option_names("answer", "question21_answer");
                break;
            case 21:
                document.getElementById('question_test').innerHTML = "22.我的生活一团糟。";
                alter_option_names("answer", "question22_answer");
                break;
            case 22:
                document.getElementById('question_test').innerHTML = "23.我一事无成。";
                alter_option_names("answer", "question23_answer");
                break;
            case 23:
                document.getElementById('question_test').innerHTML = "24.我不可能干好。";
                alter_option_names("answer", "question24_answer");
                break;
            case 24:
                document.getElementById('question_test').innerHTML = "25.我觉得孤立无援。";
                alter_option_names("answer", "question25_answer");
                break;
            case 25:
                document.getElementById('question_test').innerHTML = "26.有些东西必须改变。";
                alter_option_names("answer", "question26_answer");
                break;
            case 26:
                document.getElementById('question_test').innerHTML = "27.我肯定有问题。";
                alter_option_names("answer", "question27_answer");
                break;
            case 27:
                document.getElementById('question_test').innerHTML = "28.我的将来毫无希望。";
                alter_option_names("answer", "question28_answer");
                break;
            case 28:
                document.getElementById('question_test').innerHTML = "29.这根本毫无价值。";
                alter_option_names("answer", "question29_answer");
                break;
            case 29:
                document.getElementById('question_test').innerHTML = "30.我干什么事都有头无尾。";
                alter_option_names("answer", "question30_answer");
                end_flag = 1;
                // 跳转
                document.getElementById('question_submit').setAttribute('onclick', "location=\'" +

                    "/scales/get_next_self_scale_url?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}" +
                    "\'"
                );
                break;
        }
    }
    if(question_index <= 30){
        for(let index = 1 ; index < question_index ; index ++){
            update_question(index);
        }
    }
    $(document).ready(function () {
        $("input[type='radio']").labelauty();
        $("#question_submit").on('click', function () {
            if (isClick) {
                return;
            }
            isClick=true;
            setTimeout(function () {
                isClick = false;
            }, 1000);
            if (question_index > 30) {
                alert("请不要重复提交！");
            } else {
                const answers = document.getElementsByClassName("answer");
                let flag = 0;
                for (let i = 0; i < answers.length; i++) {
                    if (answers[i].checked && question_index <= 30) {
                        ajax_post($('#question_form'));
                        update_question(question_index);
                        question_index++;
                        flag = 1;
                        break;
                    }
                }
                if (flag == 0) {
                    alert("问题不能为空！");
                }
            }
            $("input[type='radio']").removeAttr("checked");
        });
    });

    function get_duration() {
        const current_time = new Date();
        const duration = time - current_time;
        time = current_time;
        return -duration;
    }


    function ajax_post(form) {
        const csrf = $('input[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            url: 'http://' + location.host +
                '/scales/self_tests_submit?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}',
            type: 'POST',
            dataType: 'JSON',
            async: false,
            data: {
                'data': form.serialize(),
                'question_index': question_index,
                'duration': get_duration(),
                'flag': end_flag,
                'test_name': "atq",
                'csrfmiddlewaretoken': csrf
            }
        })
    }
</script>
{% endblock %}