{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter %}
{% block title %}自杀行为表{% endblock %}
{% block css %}
    <link href="{% static '/css/scales_style.css' %}" rel="stylesheet">
     <style>
    .hama_table input.labelauty + label {
    margin-bottom: 2px;
    width: 100%;
    display: table;
    font-size: 13px;
    padding: 20px;
    text-align: center;
    background-color: #efefef;
    color: #b3b3b3;
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;}
    </style>
{% endblock %}
{% block content %}
    <div class="right_col" role="main">
        <div class="container">
            <div class="row show-grid">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                        <li><a href="#">量表评估</a></li>
                        <li><a href="#">他评量表</a></li>
                        <li class="active"><a href="#">自杀行为表</a></li>
                       <div style="float: right;margin-bottom: 0px;">
                            <a id ="return_url" href="/scales/select_scales?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&page=1"
                               class="btn btn-warning btn-xs"><i class="fa fa-arrow-left"></i><strong>&nbsp;返&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回</strong></a>
                        </div>

                    </ul>
                </div>
            </div>
        </div>
        <div class="dashboard_graph x_panel" style="margin-top: 0px;height: 80%;">
            <div id="wrapper">
                <div id="left-side" style="height: 100%;margin-left: 10px;" class="col-md-2">
                    <ul class="scales_progress">
                        {% for scale_name in scale_name_list %}
                        {% if scale_name|get_item:'scale__scale_name' == '自杀行为表' %}
                            <li class="step doing  ">
                                <p>{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% elif scale_name|get_item:'state' == 0 %}
                            <li class="step nodone notclick">
                                <p>{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% else %}
                            <li class="step done notclick">
                                <p>{{ scale_name|get_item:'scale__scale_name' }}</p>
                            </li>
                        {% endif %}
                        {% endfor %}
                        <li class="finish nodone notclick">
                          <p>完成</p>
                        </li>
                    </ul>
                </div>
                <div id="right-side" class="col-md-10">
                    <div id="first" class="active">
                        <form action="/scales/add_suibe?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}" method="post">
                            {% csrf_token %}
                            <div class="container">
                              <div class="col-md-12 text-center">
                                <h4><strong>自杀行为表</strong></h4>
                              </div>
                                <div class="row title">
                                    <strong style="FONT-SIZE: 17px">
                                        <i class="fa fa-hand-o-down"></i>&nbsp;
                                        <i class="fa fa-hand-o-down"></i>&nbsp;
                                        <i class="fa fa-hand-o-down"></i>&nbsp;
                                        <div id="is_second">请根据您过去1周的表现，回答下列问题：</div>
                                        <div id="is_first">请根据您过去的表现，回答下列问题：</div>
                                        <br/>
                                    </strong>
                                    <div class="ln_solid"></div>
                                </div>
                                <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-4 col-md-offset-2" >1.有无自杀行为:<span class="  "></span></label>
                                        <div class="col-md-1 col-sm-1 " id="suicide_action_1">
                                            <input type="radio" name="suicide_action" value=1 data-labelauty="是" disabled/>
                                        </div>
                                        <div class="col-md-1 col-sm-1 " id="suicide_action_2">
                                            <input type="radio" name="suicide_action" value=0 data-labelauty="否" disabled/>
                                        </div>
                                        <div  class="suicide_times" style="display: none">
                                            <label class="control-label col-md-2 col-sm-2 " >自杀未遂次数:<span class="  "></span></label>
                                            <div class="col-md-2 col-sm-2 form-group" >
                                                <input type="text" id="suicide_times" name="suicide_times" class="form-control" disabled>
                                            </div>
                                        </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-4 col-md-offset-2" >2.有无自伤行为:<span class="  "></span></label>
                                        <div class="col-md-1 col-sm-1 " id="self_harming_1">
                                            <input type="radio" name="self_harming" value=1 data-labelauty="是" disabled/>
                                        </div>
                                        <div class="col-md-1 col-sm-1 " id="self_harming_2">
                                            <input type="radio" name="self_harming" value=0 data-labelauty="否" disabled/>
                                        </div>
                                        <div  class="self_harming_times" style="display: none">
                                            <label class="control-label col-md-2 col-sm-2 " >自伤次数:<span class="  "></span></label>
                                            <div class="col-md-2 col-sm-2 form-group" >
                                                <input type="text" id="self_harming_times" name="self_harming_times" class="form-control" disabled>
                                            </div>
                                        </div>
                                </div>
                                <br>
                                <div class="form-group row">
                                        <label class="control-label col-md-3 col-sm-4 col-md-offset-2" >3.有无自杀意念史:<span class="  "></span></label>
                                            <div class="col-md-1 col-sm-1 " id="suicide_idea_1">
                                                <input type="radio" name="suicide_idea" value=1 data-labelauty="是" disabled/>
                                            </div>
                                            <div class="col-md-1 col-sm-1 " id="suicide_idea_2">
                                                <input type="radio" name="suicide_idea" value=0 data-labelauty="否" disabled/>
                                            </div>
                                </div>
                                <div class="row">
                                    <div  class="col-md-4 col-md-offset-4 col-sm-6" style="display: none" id="suibe_bt">
                                             {% csrf_token %}
                                        <input  type="submit" class="btn btn-success text-center"  value="保存提交修改" >
                                    </div>
                                </div>
                                <div class="row" id="bt_group">
                                        <div  class="col-md-4 col-sm-6 "  >
                                           <a  href="/scales/get_last_url?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}"
                                           id="last_scale">
                                               <button type="button" class="btn btn-warning" id="bt_return">返回上一量表</button>
                                           </a>
                                        </div>
                                        <div  class="col-md-4 col-sm-6" id="next_scale" >
                                             {% csrf_token %}
                                            <a href="/scales/get_next_url?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&scale_id={{ scale_id }}">
                                                <input  type="button" class="btn btn-success text-center"  value="进入下一量表"  >
                                            </a>
                                        </div>
                                        <div  class="col-md-4 col-sm-6" id="next_scale_final" >
                                                 {% csrf_token %}
                                                <a href="/scales/select_scales?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}">
                                                    <input  type="button" class="btn btn-success text-center"  value="进入下一量表"  >
                                                </a>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <a onclick="remove_disabled()"  style="float: right"><u>修改</u></a>
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
    //获取本表的类型，并判断是此类型的第几张表
       function getData(){
        var order = "{{ order }}";
        if(order==0){{% comment %}第一个{% endcomment %}
            $("#last_scale").attr("style","display:none;");
            $("#next_scale_final").attr("style","display:none;");
            $("#next_scale").attr("style","display:block;");
        }else if(order==1){{% comment %}最后一个{% endcomment %}
            $("#last_scale").attr("style","display:block;");
            $("#next_scale_final").attr("style","display:block;");
            $("#next_scale").attr("style","display:none;");
        }else{{# 啥也不是 #}
            $("#last_scale").attr("style","display:block;");
            $("#next_scale_final").attr("style","display:none;");
            $("#next_scale").attr("style","display:block;");
        }
        if('{{ suibe_answer }}'!='None') {
               if ('{{ suibe_answer.suicide_action }}' != 'None') {
                   $("input[name='suicide_action'][value=" + Number({{ suibe_answer.suicide_action }}) + "]").prop("checked", true);
                   if(Number({{ suibe_answer.suicide_action }})==1){
                       $(".suicide_times").show();
                       $("input[name='suicide_times']").val('{{ suibe_answer.suicide_times|processNone }}');
                       {#$("input[name='suicide_times'][value=" + Number({{ suibe_answer.suicide_times }}) + "]").prop("checked", true);#}
                       $("select[name='suicide_times']").attr("disabled","disabled");
                   }
               }
               if ('{{ suibe_answer.self_harming }}' != 'None') {
                   $("input[name='self_harming'][value=" + Number({{ suibe_answer.self_harming }}) + "]").prop("checked", true);
                   if(Number({{ suibe_answer.self_harming }})==1){
                       $(".self_harming_times").show();
                       $("input[name='self_harming_times']").val('{{ suibe_answer.self_harming_times|processNone }}');
                       {#$("input[name='self_harming_times'][value=" + Number({{ suibe_answer.self_harming_times }}) + "]").prop("checked", true);#}
                       $("select[name='self_harming_times']").attr("disabled","disabled");
                   }
               }
               if ('{{ suibe_answer.suicide_idea }}' != 'None') {
                   $("input[name='suicide_idea'][value=" + Number({{ suibe_answer.suicide_idea }}) + "]").prop("checked", true);
               }
        }
   }
</script>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static '/js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js' %}"></script>

    <script type="text/javascript" language="JavaScript">
        $(document).ready(function () {
            $("input[type='radio']").labelauty();
            cookie_val = getCookie('enter_page')
            set_return_url(cookie_val,'{{ patient_session_id }}' ,'{{ patient_id }}')

            if(Number({{ isfirst }})==1){
               document.getElementById('is_second').style = 'display: none';
            }else{
               document.getElementById('is_first').style = 'display: none';
            }
            $("input:radio[name='suicide_action']").click(function() {
                suicide_action = $(this).val();
                if (Number(suicide_action == 0)) {
                    $(".suicide_times").hide();
                    $(".suicide_times").removeAttr("required");
                }
                if (Number(suicide_action == 1)) {
                    $(".suicide_times").show();
                    $(".suicide_times").attr('required','required');
                }
            });
            $("input:radio[name='self_harming']").click(function() {
                self_harming = $(this).val();
                if (Number(self_harming == 0)) {
                    $(".self_harming_times").hide();
                    $(".self_harming_times").removeAttr("required");
                }
                if (Number(self_harming == 1)) {
                    $(".self_harming_times").show();
                    $(".self_harming_times").attr('required','required');
                }
            });
        });

    </script>

    <script>
        function remove_disabled(){
            $("input[name='suicide_action']").removeAttr("disabled","disabled");
            $("input[name='suicide_times']").removeAttr("disabled","disabled");
            $("input[name='self_harming']").removeAttr("disabled","disabled");
            $("input[name='self_harming_times']").removeAttr("disabled","disabled");
            $("input[name='suicide_idea']").removeAttr("disabled","disabled");
            $("#suibe_bt").attr("style","display:block;");
            $("#bt_group").attr("style","display:none;");

        }

    </script>




{% endblock %}