{% extends 'templates/index.html' %}
{% load static %}
{% block content %}
<div class="modal fade" id="exit_confirm" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 align="center"> 您确认要退出当前自评量表测评吗？</h4>
            <div align="center">
                <button type="button"
                        onclick="location='/scales/select_scales?patient_session_id={{ patient_session_id }}&patient_id={{ patient_id }}&session_id={{ session_id }}'"
                        class="btn btn-danger" style="width:68px;height:34px">退出
                </button>
                <button type="button" class="btn btn-success" style="width:68px;height:34px" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>
<div class="right_col" role="main">
    <div class="container">
        <div class="row show-grid">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                    <li>量表评估</li>
                    <li>自评量表</li>
                    <li class="active"></li>
                    <div style="float: right;margin-bottom: 0;"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="dashboard_graph x_panel" style="margin-top: 0;height:80%;">
        <div class="row" style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">
            <div align="center" style="padding-left: 18%; padding-right: 20%">
                <h5>
                    <strong>
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <i class="fa fa-hand-o-down"></i>&nbsp;
                        <div class="warn">
                        </div>
                    </strong>
                </h5>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="question_area" name="question_area" style="text-align: center">
            {% csrf_token %}
            <form id="question_form" name="question_form" action="#">
                <h3>
                    <div class="row question"></div>
                </h3>
                <div class="options"></div>
                <div>
                    <input type="button" class="btn btn-danger text-center exit_button" style="width:68px;height:34px"
                           value="退&nbsp;&nbsp;出">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js' %}"></script>
<script type="text/javascript" src="{% static '/js/utils.js' %}"></script>
<script type="text/javascript" language="JavaScript">
    let date;
    let index=1;
    let rsp;
    let patientSessionId = {{ patientSessionId }};
    let scaleId = {{ scaleId }};
    let Clicked = false;
    console.log("Enter!!!")
    $(document).ready(function () {
        $.post("/scales/get_scale_metadata",
            {patient_session_id: patientSessionId, scale_id: scaleId},
            function (result, statue) {
                if (statue === "success") {
                    console.log(result);
                    $(".active").text(result.title);
                    $(".warn").text(result.warn);
                }
            });
        date = new Date();
        while(rsp!=true){
            rsp=get_question_by_index_display(index)
            ans=get_answer_by_index(index)
            update_question(rsp,ans)
            index++;
            console.log(index)
            console.log("****")
        }
    });
    function get_answer_by_index(index){
        $.ajaxSettings.async=false;
        let res
        $.post("/scales/get_answer_by_index",
            {
                patient_session_id:patientSessionId,
                scale_id:scaleId,
                question_index: index,
            },
            function (answer){
                res=answer;
            },
            "Json"
        );
        console.log("BBB")
        console.log(res)
        $.ajaxSettings.async = true;
        return res;
    }

    function get_question_by_index_display(index){
        $.ajaxSettings.async = false;
        let rsp
        $.post("/scales/get_question_by_index_display",
            {
                patient_session_id:patientSessionId,
                scale_id:scaleId,
                question_index:index,
            },
            function (result,statue){
                if (statue==="success"){
                rsp=result;
                }
            },
            "Json"
        );
        // 渲染题目
        console.log("AAA")
        console.log(rsp);
        {#updateQuestion(rsp);#}
        $.ajaxSettings.async = true;
        return rsp;
    }

    function update_question(rsq,res){
        let input;
        $(".question").text(rsq.title);
        let j = 0, len = rsq.options.length;
        for (; j < len; j++) {
            if (rsq.options[j].type === "radio") {
                input = document.createElement("input");
                input.setAttribute("type", "radio");
                input.setAttribute("name", rsq.options[j].name);
                input.setAttribute("value", rsq.options[j].value);
                input.setAttribute("class", "scale_form");
                input.setAttribute("data-labelauty", rsq.options[j].content);
                let div = document.createElement("div");
                div.setAttribute("class", "row show-grid");
                div.setAttribute("style", "margin:10px");
                let label = document.createElement("label");
                let options = $(".options");
                label.append(input);
                div.append(input);
                div.append(rsq.options[j].content)
                options.append(div);
                if(rsq.options[j].value==res)
                    input.checked = true;
                continue;
            }
            if (rsq.options[j].type === "text") {
                const div = document.createElement("div");
                div.setAttribute("class", "");
                div.setAttribute("style", "margin:10px auto;");
                let options = $(".options");
                input = document.createElement("input");
                input.setAttribute("type", "text");
                input.setAttribute("name", rsq.options[j].name);
                input.setAttribute("style", "width:200;text-align:center;vertical-align:middle;")
                input.setAttribute("class", "scale_form");
                div.append(input);
                options.append(div);
                continue;
            }
            if (1 === 1) {
                return;
            }
        }
    }

    $.extend({
        serializeJSON: function (obj) {
            const formArr = obj.serializeArray();
            const formObj = {};
            $.each(formArr, function () {
                if (formObj[this.name]) {
                    if (!formObj[this.name].push) {
                        formObj[this.name] = [formObj[this.name]];
                    }
                    formObj[this.name].push(this.value || '');
                } else {
                    formObj[this.name] = this.value || '';
                }
            });
            return formObj;
        }
    });
</script>
{% endblock %}