{% extends 'templates/index.html' %}
{% load static %}
{% block content %}
<div class="right_col" role="main">
    <div class="container">
        <div class="row show-grid">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                    <li>量表评估</li>
                    <li>自评量表</li>
                    <li class="active"></li>
                    <div style="float: right;margin-bottom: 0;"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="dashboard_graph x_panel" style="margin-top: 0">
        <div class="row" style="margin-left:5px;margin-top: 5px;padding-bottom: 5px;">
            <div align="center" style="padding-left: 18%; padding-right: 20%">
                    <strong>
                        <h1 class="active"></h1>

                    </strong>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div id="total_score_area" style="text-align: center;font-size: 16px;font-weight: bold;">
        </div>
        <div class="question_area" name="question_area" style="text-align: center">
            <hr/>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js' %}"></script>
<script type="text/javascript" src="{% static '/js/utils.js' %}"></script>
<script type="text/javascript" language="JavaScript">
    let index = 1;
    let patientSessionId = {{ patientSessionId }};
    let scaleId = {{ scaleId }};
    let isLast = false;
    $(document).ready(function () {
        $.ajaxSettings.async = false;
        $.post("/scales/get_scale_metadata",
            {patient_session_id: patientSessionId, scale_id: scaleId},
            function (result, statue) {
                if (statue === "success") {
                    console.log(result);
                    $(".active").text(result.title);
                    $(".warn").text(result.warn);
                }
            });
        $.ajaxSettings.async = true;
        console.log("getMetaData")
        updateQuestionContent()
        getTotalScore()
        console.log("updateQuestion")
    });
    function getTotalScore(){
        let totalScoreAreaDiv = $("#total_score_area")
        let en2cn = {
            "yboTotalScore": "总分",
            "shapesTotalScore": "总分",
            "tepsTotalScore":"总分",
            "atqTotalScore":"总分",
            "phq9TotalScore":"总分",
            "gad7TotalScore":"总分",
            "insomniaTotalScore":"总分",
            "hcl33TotalScore":"总分",
            "pssTotalScore":"总分",
            "pssTensionScore":"紧张感总分",
            "pssOutofControlScore":"失控感总分",
            "bssLastWeekTotalScore":"近一周",
            "bssMostDepressedTotalScore":"最消沉",
            "ctqSfEmotionalAbuseTotalScore":"情感虐待",
            "ctqSfPhysicalAbuseTotalScore":"躯体虐待",
            "ctqSfSexualAbuseTotalScore":"性虐待",
            "ctqSfEmotionalIgnoranceTotalScore":"情感忽视",
            "ctqSfPhysicalIgnoranceTotalScore":"躯体忽视",
            "ctqSfTotalScore":"总分",
            "cerqSelfBlameTotalScore":"自我责难",
            "cerqOtherBlameTotalScore":"责难他人",
            "cerqMeditationTotalScore":"沉思",
            "cerqCatastrophicallyTotalScore":"灾难化",
            "cerqAcceptedTotalScore":"接受",
            "cerqPositiveRefocusTotalScore":"积极重新关注",
            "cerqProjectRefocusTotalScore":"重新关注计划",
            "cerqPositiveEvaluationTotalScore":"积极重新评价",
            "cerqRationalAnalysisTotalScore":"理性分析",
            "phoneAbuseTotalScore":"总分"
        }
        $.ajaxSettings.async = true;
        $.get("/scales/get_total_score",
            {
                patient_session_id: patientSessionId,
                scale_id: scaleId
            },
            function (res, statue) {
                if(statue === 'success'){
                    console.log(res)
                    res.data.forEach(function(item, index, arr){
                        $("#total_score_area").append("<span>"+en2cn[item.score_name]+"</span>:&nbsp")
                        $("#total_score_area").append("<span>"+item.score_value+"</span><br/>")
                    })
                }else{
                    console.log("总分请求失败!")
                }
            }
        )
    }
    // 更新题目文本
    function updateQuestionContent() {
        $.ajaxSettings.async = false;
        let rsp;
        while (!isLast) {
            $.post("/scales/get_scale_content_question",
                {
                    patient_session_id: patientSessionId,
                    scale_id: scaleId,
                    question_index: index,
                },
                function (result, statue) {
                    if (statue === "success") {
                        rsp = result;
                    }
                },
                "Json"
            );
            // 没有题目跳出循环
            if(rsp === false){
                isLast = true;
                break;
            }
            // 渲染题目
            console.log(rsp)
            addQuestionContent(rsp);
            setQuestionOptions();
            index ++;
        }
        $.ajaxSettings.async = true;
    }

    // 更新答案
    function setQuestionOptions() {
        // 取答案
        $.post("/scales/get_answer_by_index",
            {
                patient_session_id: patientSessionId,
                scale_id: scaleId,
                question_index: index
            },
            function (result, statue) {
                if (statue === "success") {
                    let inputs = document.getElementsByClassName("question"+index);
                    console.log(inputs[0]);
                    if (inputs[0].type === 'radio') {
                        for (let i = 0; i < inputs.length; i++) {
                            if (inputs[i].value === result.answer) {
                                inputs[i].checked = true;
                                inputs[i].parentElement.setAttribute("style", "Color:red");
                            }
                        }
                        return;
                    }
                    if (inputs[0].type === 'text') {
                        inputs[0].value = result.answer;
                        inputs[0].parentNode.setAttribute("style", "Color:red");
                    }
                }
            },
            "json"
        );
    }

    function addQuestionContent(questionInfo) {
        // 渲染题目
        let questionAreaDiv = $(".question_area");
        let questionH4 = document.createElement("h3")
        questionH4.innerText = questionInfo.title;
        questionAreaDiv.append(questionH4);
        let input;
        let j = 0, len = questionInfo.options.length;
        for (; j < len; j++) {
            if (questionInfo.options[j].type === "radio") {
                input = document.createElement("input");
                input.setAttribute("type", "radio");
                input.setAttribute("name", questionInfo.options[j].name);
                input.setAttribute("value", questionInfo.options[j].value);
                input.setAttribute("class", "scale_form row show-grid question"+index);
                input.setAttribute("data-labelauty", questionInfo.options[j].content);
                input.setAttribute("disabled", "disabled");
                let div = document.createElement("div");
                div.setAttribute("style", "margin:10px");
                let label = document.createElement("label");
                label.append(input);
                div.append(input);
                div.append(questionInfo.options[j].content)
                questionAreaDiv.append(div);
                continue;
            }
            if (questionInfo.options[j].type === "text") {
                const div = document.createElement("div");
                div.setAttribute("style", "margin:10px auto;");
                input = document.createElement("input");
                input.setAttribute("type", "text");
                input.setAttribute("name", questionInfo.options[j].name);
                input.setAttribute("style", "width:200;text-align:center;vertical-align:middle;");
                input.setAttribute("class", "question"+index);
                input.setAttribute("disabled", "disabled");
                div.append(input);
                questionAreaDiv.append(div);
            }
        }
    }
</script>
{% endblock %}