{% extends 'templates/index.html' %}
{% load static %}
{% block content %}
    <div class="right_col" role="main">
        <div class="result">

        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/utils.js' %}"></script>
    <script type="text/javascript" language="JavaScript">
        $(document).ready(function () {
            cookie_val = getCookie('enter_page')
            set_return_url(cookie_val,'{{ patient_session_id }}' ,'{{ patient_id }}')
        });
        var ttttest = $.post("/scales/get_next_question", { patient_session_id: "1", scale_id: "12" }, function(result,statue){
            $(".result").text(result.title);
        });
    </script>
{% endblock %}