{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter %}
{% block css %}
{#    <link rel="stylesheet" href="{% static '/css/appointToday.css' %}">#}
    <link href="{% static '/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
{#    <link rel="stylesheet" href={% static '/css/tinyselect.css' %}>#}
    <link href="{% static '/vendors/ajax/libs/select2/4.0.4/css/select2.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static '/layui/css/layui.css' %}">

    <style>
        .sel_beauty {
            background: #fafdfe;
            height: 33px;
            width: 180px;
            line-height: 28px;
            border: 1px solid #9bc0dd;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            width: 158px;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }
        .layui-form-label{
            box-sizing: content-box;
            width:130px;
        }
        .layui-table-cell .layui-form-checkbox[lay-skin=primary] {
            top: 6px;
        }
        .layui-laypage-btn{
            color: #000;
        }
        .nav.side-menu a{
            font-size:13px
        }
    </style>
{% endblock %}
{% block content %}
    <div class="right_col" role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                        <li class="active"><a href="" id="statistics_title">复扫记录统计信息</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dashboard_graph x_panel" style="">
            <div class="layui-progress" style="position:absolute;top:0;left: 0;width: 100%;border-radius:unset;" lay-filter="global_progress">
                <div class="layui-progress-bar" lay-percent="0%" style="border-radius:unset;"></div>
            </div>
            <div class="x_content">
{#                <div class="row">#}
{#                    <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                        <a href="#modal_container_subjectBaseInfo_build" data-toggle="modal">#}
{#                            <button class="btn btn-success btn-sm"><span class="fa fa-plus"></span><span>&nbsp;&nbsp;新建被试</span>#}
{#                            </button>#}
{#                        </a>#}
{#                        <a href="#modal_container_search" data-toggle="modal">#}
{#                            <button class="btn btn-warning btn-sm"><span class="fa fa-search"></span><span>&nbsp;&nbsp;查找</span>#}
{#                            </button>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row" style="border-top: solid #ACC0D8 1px;margin:5px 0px"></div>#}
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <table id="record" lay-filter="tb_record"></table>
                        <script type="text/html" id="filterTools">
                            <div class="layui-btn-group" style="display:inline-block">
                                <button class="layui-btn-sm layui-btn layui-btn-primary" lay-event="filter_choice" id="filter_btn"><i class="layui-icon layui-icon-search"></i> 过滤器</button>
                                <button class="layui-btn-sm layui-btn layui-btn-primary" lay-event="checkbox_export" id="multiselect_export_btn"><i class="layui-icon layui-icon-export"></i> 多选导出</button>
                            </div>
                        </script>
{#                        <blockquote class="layui-elem-quote layui-quote-nm" id="filter_compare_content">#}
{#                            提示：由于数据较多，加载比较慢，请耐心等待。#}
{#                            <input id="click" type="button" class="layui-btn-sm layui-btn layui-btn-primary" value="测试数据">#}
{#                        </blockquote>#}
                    </div>
                </div>
            </div>
        </div>
    </div>



<form class="layui-form" id="filter_form" lay-filter="f_form" style="display:none;margin:20px">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">基本筛选</li>
            <li>量表分数筛选</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
          <label class="layui-form-label"><span class="layui-badge-dot"></span> 编号 / 姓名</label>
{#          <div class="layui-input-inline">#}
{#              <input type="text" lay-verify="username" autocomplete="on" class="layui-input" id="name" >#}
{#          </div>#}
            <div class="layui-input-inline" style="width:400px">
                <div class="" id="name_select"></div>
            </div>
  </div>
                <div class="layui-form-item">

          <label class="layui-form-label">扫描编号</label>
          <div class="layui-input-inline" style="width:300px">
{#              {% for s in session_all_list %}#}
{#                  <input type="checkbox" title="{{ s.session_id|processSession }}" lay-skin="primary" value="{{ forloop.counter }}" name="session_id">#}
{#              {% endfor %}#}
              <div class="" id="session_select"></div>
          </div>

  </div>

                <div class="layui-form-item">
      <div class="layui-inline">
          <label class="layui-form-label">年龄</label>
          <div class="layui-input-inline">
              <input type="text" lay-verify="required" autocomplete="off" class="layui-input" id="age" >
          </div>
          <div class="layui-form-mid">-</div>
          <div class="layui-input-inline">
              <select name="age_compare" id="age_compare_select">
                  <option value="0" selected>等于</option>
                  <option value="1">大于（包含）</option>
                  <option value="2">小于（包含）</option>
              </select>
          </div>
      </div>

  </div>
                <div class="layui-form-item">

            <label class="layui-form-label">诊断</label>
                <div class="layui-input-inline" style="width:300px">
{#                    <input type="checkbox" name="diagnosis" title="未诊断" lay-skin="primary" value="0">#}
{#                    <input type="checkbox" name="diagnosis" title="健康者" lay-skin="primary" value="1">#}
{#                    <input type="checkbox" name="diagnosis" title="重性抑郁障碍" lay-skin="primary" value="2">#}
{#                    <input type="checkbox" name="diagnosis" title="焦虑障碍" lay-skin="primary" value="3">#}
{#                    <input type="checkbox" name="diagnosis" title="双相障碍" lay-skin="primary" value="4">#}
{#                    <input type="checkbox" name="diagnosis" title="精神分裂症" lay-skin="primary" value="5">#}
{#                    <input type="checkbox" name="diagnosis" title="强迫症" lay-skin="primary" value="6">#}
{#                    <input type="checkbox" name="diagnosis" title="高危遗传" lay-skin="primary" value="7">#}
{#                    <input type="checkbox" name="diagnosis" title="临床高危" lay-skin="primary" value="8">#}
{#                    <input type="checkbox" name="diagnosis" title="抑郁症状" lay-skin="primary" value="9">#}
{#                    <input type="checkbox" name="diagnosis" title="其他诊断" lay-skin="primary" value="99">#}
                    <div class="" id="diagnosis_select"></div>
                </div>


  </div>
                <div class="layui-form-item">
      <label class="layui-form-label">性别</label>
      <div class="layui-input-block">
          <input type="radio" name="sex" value="" title="全部" checked>
          <input type="radio" name="sex" value="0" title="男">
          <input type="radio" name="sex" value="1" title="女">
      </div>
  </div>
                <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">被试来源</label>
            <div class="layui-input-inline">
                <select lay-verify="required" name="source" id="source_select">
                    <option value="">请选择</option>
                    <option value="0">门诊</option>
                    <option value="1">病区</option>
                    <option value="2">非医院</option>
                </select>
            </div>
        </div>
    </div>
                <div class="layui-form-item">

                        <label class="layui-form-label">采集血液</label>
                        <div class="layui-input-block">
                            <input type="radio" name="blood" value="" title="全部" checked>
                            <input type="radio" name="blood" value="1" title="是">
                            <input type="radio" name="blood" value="0" title="否">
                        </div>

                </div>
                <div class="layui-form-item">

                        <label class="layui-form-label">认知评估</label>
                        <div class="layui-input-block">
                            <input type="radio" name="cognitive" value="" title="全部" checked>
                            <input type="radio" name="cognitive" value="1" title="是">
                            <input type="radio" name="cognitive" value="0" title="否">
                        </div>

                </div>
                <div class="layui-form-item">

                        <label class="layui-form-label">采集声音</label>
                        <div class="layui-input-block">
                            <input type="radio" name="sound" value="" title="全部" checked>
                            <input type="radio" name="sound" value="1" title="是">
                            <input type="radio" name="sound" value="0" title="否">
                        </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">扫描日期</label>
                        <div class="layui-inline" id="scan_date">
                            <div class="layui-input-inline">
                                <input type="text" autocomplete="off" id="startDate" class="layui-input" placeholder="开始日期">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline">
                                <input type="text" autocomplete="off" id="endDate" class="layui-input" placeholder="结束日期">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:260px">汉密尔顿焦虑量表（HAMA）总分</label>
                            <div class="layui-input-inline">
                                <select id="hama_total_score_compare_select">
                                    <option value="0" selected>等于</option>
                                    <option value="1">大于（包含）</option>
                                    <option value="2">小于（包含）</option>
                                </select>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline">
                                <input type="text" lay-verify="required" placeholder="请输入分数" class="layui-input" id="hama_total_score" >
                            </div>
                        </div>
                    </div>
                <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:260px">汉密尔顿抑郁量表-17项（HAMD17）总分</label>
                            <div class="layui-input-inline">
                                <select id="hamd17_total_score_compare_select">
                                    <option value="0" selected>等于</option>
                                    <option value="1">大于（包含）</option>
                                    <option value="2">小于（包含）</option>
                                </select>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline">
                                <input type="text" lay-verify="required" placeholder="请输入分数"  class="layui-input" id="hamd17_total_score" >
                            </div>
                        </div>
                    </div>
                <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:260px">杨氏躁狂量表（YMRS）总分</label>
                            <div class="layui-input-inline">
                                <select id="ymrs_total_score_compare_select">
                                    <option value="0" selected>等于</option>
                                    <option value="1">大于（包含）</option>
                                    <option value="2">小于（包含）</option>
                                </select>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline">
                                <input type="text" lay-verify="required" placeholder="请输入分数"  class="layui-input" id="ymrs_total_score" >
                            </div>
                        </div>
                    </div>
                <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:260px">简明精神病量表（BPRS）总分</label>
                            <div class="layui-input-inline">
                                <select id="bprs_total_score_compare_select">
                                    <option value="0" selected>等于</option>
                                    <option value="1">大于（包含）</option>
                                    <option value="2">小于（包含）</option>
                                </select>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline">
                                <input type="text" lay-verify="required" placeholder="请输入分数"  class="layui-input" id="bprs_total_score" >
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>


</form>
<script type="text/html" id="scalesTpl">
    <button class="layui-btn layui-border-green layui-btn-primary layui-btn-xs" lay-event="show" style="padding: 0 9px;line-height: 28px;height: 28px">查看</button>
</script>
<script type="text/html" id="filterCompareTpl">
    <button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="addToCompare" style="padding: 0 9px;line-height: 28px;height: 28px">添加到对比</button>
</script>
    <div class="" id="teach_tips" style="display:none">
        <p>这是一个具有筛选功能的复扫记录统计表格</p>
    </div>
{% endblock %}


{% block js %}


{#    <script src="{% static '/vendors/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>#}
{#    <script src="{% static '/vendors/ajax/libs/select2/4.0.4/js/select2.min.js' %}"></script>#}
    <script src="{% static '/js/layerJquery.js' %}"></script>
    <script src="{% static '/layui/layui.js' %}"></script>
    <script src="{% static '/layui/layui-base-plugin/xm-select.js' %}"></script>
    <script>
    $.ajaxSetup({
        data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
    })
    </script>
    <script>


    // 姓名筛选单独渲染
    let name_select = xmSelect.render({
        el:"#name_select"
        ,autoRow: true
        ,size: 'large'
        ,searchTips:'输入姓名或编号'
        ,theme: {
		    color: '#5FB878',
	    },
        model: {
            label: {
                block: {
                    template: function(item, sels){
                        return item.id + ' ' + item.name;
                    },
                },
            }
	    }
        ,prop: {
            name: 'name',
            value: 'id',
	    },
		toolbar: { show: true },
		filterable: true,
        template({item, sels, name, value}){
            return item.name + '<span style="position: absolute; right: 10px; color: #8799a3">'+'编号：'+value+'</span>'
        },
		remoteSearch: true,
        remoteMethod: function(val, cb, show){
			//这里如果val为空, 则不触发搜索
			if(!val){
				return cb([]);
			}
            $.get('{% url 'getNames' %}',{
                keyword: val
            },function (res, status) {
                if(status === 'success'){
                    cb(res.data)
                }
            })

		},
        on: function(data){
            //arr:  当前多选已选中的数据
            var arr = data.arr;
            //change, 此次选择变化的数据,数组
            var change = data.change;
            //isAdd, 此次操作是新增还是删除
            var isAdd = data.isAdd;

            if (arr.length > 5){
                name_select.warning()
            }
            //可以return一个数组, 代表想选中的数据
            //return []
	    },
    })

    // 扫描编号单独渲染
    let results, session_id_select;
    $.get("{% url 'getSessions' %}",function (res, status) {
        if(status === 'success'){
            results = res.data
            session_id_select = xmSelect.render({
                el: "#session_select"
                ,autoRow: true
                ,size: 'large'
                ,theme: {
                    color: '#5FB878',
                }
                ,toolbar: { show: true }
                ,prop:{
                    name: 'session_id_standard',
                    value: 'session_id'
                }
                ,data: results
            })
        }
    })

    // 诊断单独渲染
    let diagnosis_select = xmSelect.render({
        el: '#diagnosis_select'
        ,autoRow: true
        ,size: 'large'
        ,theme: {
            color: '#5FB878',
        }
        ,searchTips: '搜索'
        ,toolbar: { show: true }
        ,filterable: true
        ,data:[
            {name: '未诊断', value:0},
            {name: '健康', value:1},
            {name: '重症抑郁障碍', value:2},
            {name: '焦虑障碍', value:3},
            {name: '双相障碍', value:4},
            {name: '精神分裂症', value:5},
            {name: '强迫症', value:6},
            {name: '高危遗传', value:7},
            {name: '临床高危', value:8},
            {name: '抑郁症状', value:9},
            {name: '其他诊断', value:99},
        ]
    })


    layui.use(['table', 'layer', 'laydate', 'laytpl','element','form','transfer'],function () {
        let table = layui.table
        ,layer = layui.layer
        ,laydate = layui.laydate
        ,laytpl = layui.laytpl
        ,element = layui.element
        ,form = layui.form
        ,transfer = layui.transfer


        laydate.render({
            elem:'#scan_date'
            ,range: ['#startDate', '#endDate']
        })

        let n = 0, timer = setInterval(function(){
            n = n + 100/3;
            if(n>100){
                n = 100;
                clearInterval(timer);
                //othis.removeClass(DISABLED);
            }
            element.progress('global_progress', n+'%');
        }, 1200);

        let tb_patient = table.render({
            elem: '#record'
            ,id: 'patient_table'
            ,toolbar:'#filterTools',
            defaultToolbar: ['filter', 'print', 'exports', {
                title: '全部导出'
                ,layEvent: 'export_all_content'
                ,icon: 'layui-icon-layouts'
            },{
                title:'大表使用提示'
                ,layEvent: 'statistics_tips'
                ,icon: 'layui-icon-tips'
            }]
            ,title:'statistic_result'
            ,page: true
            ,url: '{% url 'statistics' %}'
            ,height:'full-220'
            ,skin: 'row'
            ,even: true
            ,limit: 30
            ,limits:[10,20,30,40,50,60,70,80,90,100]
            ,text: {
                none:'没有记录哦'
            }
            ,cols: [[
                {type:'checkbox',rowspan:3, fixed: true},
                {type:'numbers',rowspan:3, fixed: true, title:'序号',width: 50}
                ,{field:'standard_id',rowspan:3, title: '标准编号',width: 170, sort:true, fixed: 'left'}
                ,{field:'patient_id',rowspan:3, title:'编号', hide:true, fixed:'left'}
                ,{field:'name',rowspan:3, title:'姓名',width: 100, fixed:'left'}
                ,{field:'sex',rowspan:3, title:'性别', sort:true, width: 80, templet:function (d) {
                    return d.sex? '女':'男'
                }}
                ,{field:'age',rowspan:3, title:'年龄', sort:true,width:80}
                ,{field:'phone',rowspan:3, title:'手机号码',edit:true,hide:true,width: 120,templet: function (d) {
                    if(d.phone === '' || d.phone === null){
                        return '暂无'
                    }
                    return d.phone
                }}
                ,{field:'height',rowspan:3, title:'身高',hide:true, width: 90, templet:function (d) {
                    if (d.height === "" || d.height === null){
                        return "暂无"
                    }
                    return d.height + "cm"
                }}
                ,{field: 'waist',rowspan:3, title:'腰围',hide:true, width:80, sort:true, templet:function (d) {
                    if (d.waist === "" || d.waist === null){
                        return "暂无"
                    }
                    return d.waist + "cm"
                }}
                ,{field: 'hip',rowspan:3, title:'臀围',hide:true, width:80, sort:true,templet:function (d) {
                    if (d.waist === "" || d.waist === null){
                        return "暂无"
                    }
                    return d.hip + "cm"
                }}
                ,{field:'handy',rowspan:3, title:'利手',hide:true, width:100, templet:function (d) {
                    switch (d.handy){
                        case 1:
                            return '右利手'
                        case 2:
                            return '左利手'
                        case 3:
                            return '混合利手'
                        default:
                            return '无'
                    }
                }}
                ,{field:'source',rowspan:3, title:'被试来源',width: 100, templet: function (d) {
                    switch (d.source){
                        case 0:
                            return '门诊'
                        case 1:
                            return '病区'
                        case 2:
                            return '非医院'
                        default:
                            return '无'
                    }
                }}
                ,{field:'diagnosis',rowspan:3, title:'诊断', width:120, templet:function (d) {
                    switch (d.diagnosis) {
                        case 0:
                            return '未诊断'
                        case 1:
                            return '健康者'
                        case 2:
                            return '重性抑郁障碍'
                        case 3:
                            return '焦虑障碍'
                        case 4:
                            return '双相障碍'
                        case 5:
                            return '精神分裂'
                        case 6:
                            return '强迫症'
                        case 7:
                            return '高危遗传'
                        case 8:
                            return '临床高危'
                        case 9:
                            return '抑郁症状'
                        default:
                            return '其他诊断'
                    }
                }}
                ,{field:'cognitive',rowspan:3, title:'认知评估',width:90, templet: function (d) {
                    if(d.cognitive === "" || d.cognitive === null){
                        return '无'
                    }
                    return d.cognitive?'<span style="color:#5FB878">是</span>':'否'
                }}
                ,{field:'sound',rowspan:3, title:'采集声音',width:90, templet: function (d) {
                    if(d.sound === "" || d.sound === null){
                        return '无'
                    }
                    return d.sound?'<span style="color:#5FB878">是</span>':'否'
                }}
                ,{field:'blood',rowspan:3, title:'采集血液',width:90, templet: function (d) {
                    if(d.blood === "" || d.blood === null){
                        return '无'
                    }
                    return d.blood?'<span style="color:#5FB878">是</span>':'否'
                }}
                ,{field:'hairs',rowspan:3, title:'采集毛发',width:90, templet:function (d) {
                    if(d.hairs === "" || d.hairs === null){
                        return '无'
                    }
                    return d.hairs?'<span style="color:#5FB878">是</span>':'否'
                }}
                ,{field:'manure',rowspan:3, title:'采集粪便',width:90, templet:function (d) {
                    if(d.manure === "" || d.manure === null){
                        return '无'
                    }
                    return d.manure?'<span style="color:#5FB878">是</span>':'否'
                }}
                ,{field:'first',rowspan:3, title:'首发',width: 60, templet: function (d) {
                    if(d.first === "" || d.first === null){
                        return '无'
                    }
                    return d.first?'<span style="color:#5FB878">是</span>':'否'
                }}
                ,{field:'head_motion_parameters',rowspan:3, title:'头动参数', width: 90,templet:function (d) {
                    if(d.head_motion_parameters === null || d.head_motion_parameters === ''){
                        return '无'
                    }
                    return d.head_motion_parameters
                }}
                ,{field:'inpatient_state',rowspan:3, title:'住院情况', width:100, templet:function (d) {
                    switch (d.inpatient_state) {
                        case 0:
                            return '未住院'
                        case 1:
                            return '住院'
                        default:
                            return '出院'
                    }
                }}
                ,{field:'scan_date',rowspan:3, title:'扫描时间', width: 140, templet: function (d) {
                    arr = d.scan_date.split('-')
                    return arr[0]+'年'+arr[1]+'月'+arr[2]+'日'
                }}
                ,{field:'doctor',rowspan:3, title:'医生', width:90}
                ,{title:'他评（others-rating）',colspan:4,align:'center', style:'background-color:#000;color:#fff'}
                ,{title:'自评（self-rating）',colspan:19,align:'center'}
                ,{title:'量表完成详情',rowspan:3,align:'center', width: 130, toolbar:'#scalesTpl', fixed:'right'}
                ,{title:'操作',rowspan: 3,align:'center',width: 120, toolbar: '#filterCompareTpl',fixed: 'right'}
            ],[
                {field:'HAMA',title:'汉密尔顿焦虑量表（HAMA）- 总分',rowspan: 2,width: 270, templet:function (d) {
                    if(d.HAMA.total_score === undefined ){
                        return '--'
                    }
                    if(d.HAMA.total_score === '' || d.HAMA.total_score === null){
                        return '暂无'
                    }
                    return d.HAMA.total_score
                }}
                ,{field:'HAMD17', title:'汉密尔顿抑郁量表（HAMD-17）- 总分',rowspan: 2, width: 270, templet:function (d) {
                    if(d.HAMD17.total_score === undefined){
                        return '--'
                    }
                    if(d.HAMD17.total_score === '' || d.HAMD17.total_score === null){
                        return '暂无'
                    }
                    return d.HAMD17.total_score
                }}
                ,{field:'YMRS', title:'杨氏躁狂量表（YMRS）- 总分',rowspan: 2,width: 220,templet: function (d) {
                    if(d.YMRS.total_score === undefined){
                        return '--'
                    }
                    if(d.YMRS.total_score === '' || d.YMRS.total_score === null){
                        return '暂无'
                    }
                    return d.YMRS.total_score
                }}
                ,{field:'BPRS', title:'简明精神病量表（BPRS）- 总分',rowspan: 2,width: 240,templet: function (d) {
                    if(d.BPRS.total_score === undefined){
                        return '--'
                    }
                    if(d.BPRS.total_score === '' || d.BPRS.total_score === null){
                        return '暂无'
                    }
                    return d.BPRS.total_score
                }}

                ,{field:'adolescent_events', title:'青少年生活事件量表（ALSEC）- 总分',rowspan: 2,width:270, templet:function (d) {
                    if(d.adolescent_events.total_score === undefined ){
                        return '--'
                    }
                    if(d.adolescent_events.total_score === '' || d.adolescent_events.total_score === null){
                        return '暂无'
                    }
                    return d.adolescent_events.total_score
                }}
                ,{field:'atq', title:'自动思维量表（ATQ）- 总分',rowspan: 2,width:230, templet:function (d) {
                    if(d.atq.total_score === undefined ){
                        return '--'
                    }
                    if(d.atq.total_score === '' || d.atq.total_score === null){
                        return '暂无'
                    }
                    return d.atq.total_score
                }}
                ,{field: 'cognitive_emotion', title:'认知情绪调节问卷（CERQ-C）- 总分',rowspan: 2, width: 280, templet:function (d) {
                    if(d.cognitive_emotion.total_score === undefined ){
                        return '--'
                    }
                    if(d.cognitive_emotion.total_score === '' || d.cognitive_emotion.total_score === null){
                        return '暂无'
                    }
                    return d.cognitive_emotion.total_score
                }}
                ,{field: 'happiness', title:'斯奈斯和汉密尔顿快乐量表（Happiness）- 总分',rowspan: 2 ,width: 330, templet:function (d) {
                    if(d.happiness.total_score === undefined ){
                        return '--'
                    }
                    if(d.happiness.total_score === '' || d.happiness.total_score === null){
                        return '暂无'
                    }
                    return d.happiness.total_score
                }}
                ,{field: 'manicsymptom', title: '33项轻躁狂症状清单（HCL-33）- 总分',rowspan: 2, width: 300, templet:function (d) {
                    if(d.manicsymptom.total_score === undefined ){
                        return '--'
                    }
                    if(d.manicsymptom.total_score === '' || d.manicsymptom.total_score === null){
                        return '暂无'
                    }
                    return d.manicsymptom.total_score
                }}
                ,{field: 'pleasure', title: '快感体验能力量表（TEPS）- 总分',rowspan: 2, width: 300, templet:function (d) {
                    if(d.pleasure.total_score === undefined ){
                        return '--'
                    }
                    if(d.pleasure.total_score === '' || d.pleasure.total_score === null){
                        return '暂无'
                    }
                    return d.pleasure.total_score
                }}
                ,{field: 'suicidal', title: '自杀意念及行为史（BSS）- 总分',rowspan: 2, width: 300, templet: function (d) {
                    if(d.suicidal.total_score === undefined ){
                        return '--'
                    }
                    if(d.suicidal.total_score === '' || d.suicidal.total_score === null){
                        return '暂无'
                    }
                    return d.suicidal.total_score
                }}
                ,{field: 'ybobsessiontable', title:'耶鲁布朗强迫症严重程度（YBOCS）- 总分',rowspan: 2, width: 320, templet:function (d) {
                    if(d.ybobsessiontable.total_score === undefined ){
                        return '--'
                    }
                    if(d.ybobsessiontable.total_score === '' || d.ybobsessiontable.total_score === null){
                        return '暂无'
                    }
                    return d.ybobsessiontable.total_score
                }}
                ,{filed: 'sembu', title:'简式父母养育方式问卷（S-Embu）- 总分',rowspan: 2,width: 320, templet:function (d) {
                    if(d.sembu.total_score === undefined ){
                        return '--'
                    }
                    if(d.sembu.total_score === '' || d.sembu.total_score === null){
                        return '暂无'
                    }
                    return d.sembu.total_score
                }}
                ,{field: 'gad', title:'广泛性焦虑障碍量表（GAD-7）- 总分',rowspan: 2,width: 320, templet:function (d) {
                    if(d.gad.total_score === undefined ){
                        return '--'
                    }
                    if(d.gad.total_score === '' || d.gad.total_score === null){
                        return '暂无'
                    }
                    return d.gad.total_score
                }}
                ,{field: 'phq', title:'抑郁症筛查量表（PHQ-9）- 总分',rowspan: 2,width:320, templet:function (d) {
                    if(d.phq.total_score === undefined ){
                        return '--'
                    }
                    if(d.phq.total_score === '' || d.phq.total_score === null){
                        return '暂无'
                    }
                    return d.phq.total_score
                }}
                ,{field: 'pss', title:'压力知觉量表（PSS）- 总分',rowspan: 2,width: 250, templet:function (d) {
                    if(d.pss.total_score === undefined ){
                        return '--'
                    }
                    if(d.pss.total_score === '' || d.pss.total_score === null){
                        return '暂无'
                    }
                    return d.pss.total_score
                }}
                ,{field: 'insomnia', title: '失眠严重指数量表（Insomnia）- 总分',rowspan: 2,width: 280, templet:function (d) {
                    if(d.insomnia.total_score === undefined ){
                        return '--'
                    }
                    if(d.insomnia.total_score === '' || d.insomnia.total_score === null){
                        return '暂无'
                    }
                    return d.insomnia.total_score
                }}
                ,{title: '儿童期（16岁以前）的成长经历量表',align:'center',colspan:5}
            ],[
                {field: 'growth.emotion_abuse_score', title: '情感虐待总分', width: 150, templet:function (d) {
                    if(d.growth.emotion_abuse_score === undefined ){
                        return '--'
                    }
                    if(d.growth.emotion_abuse_score === '' || d.insomnia.emotion_abuse_score === null){
                        return '暂无'
                    }
                    return d.growth.emotion_abuse_score
                }}
                ,{field: 'growth.body_abuse_score', title: '躯体虐待总分', width: 150, templet:function (d) {
                    if(d.growth.body_abuse_score === undefined ){
                        return '--'
                    }
                    if(d.growth.body_abuse_score === '' || d.insomnia.body_abuse_score === null){
                        return '暂无'
                    }
                    return d.growth.body_abuse_score
                }}
                ,{field: 'growth.sex_abuse_score', title: '性虐待总分', width: 150, templet:function (d) {
                    if(d.growth.sex_abuse_score === undefined ){
                        return '--'
                    }
                    if(d.growth.sex_abuse_score === '' || d.insomnia.sex_abuse_score === null){
                        return '暂无'
                    }
                    return d.growth.sex_abuse_score
                }}
                ,{field: 'growth.emotion_ignore_score', title: '情感忽视总分', width: 150, templet:function (d) {
                    if(d.growth.emotion_ignore_score === undefined ){
                        return '--'
                    }
                    if(d.growth.emotion_ignore_score === '' || d.insomnia.emotion_ignore_score === null){
                        return '暂无'
                    }
                    return d.growth.emotion_ignore_score
                }}
                ,{field: 'growth.body_ignore_score', title: '躯体忽视总分', width: 150, templet:function (d) {
                    if(d.growth.body_ignore_score === undefined ){
                        return '--'
                    }
                    if(d.growth.body_ignore_score === '' || d.insomnia.body_ignore_score === null){
                        return '暂无'
                    }
                    return d.growth.body_ignore_score
                }}
            ]]
            ,done:function (){

            }
        })

        //监听表格头部筛选按钮
        let isAll = true;
        let condition;
        table.on('toolbar(tb_record)', function (obj) {
            let checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'filter_choice':
                    layer.open({
                        type: 1,
                        title: ['过滤器','font-size:18px;background-color:#2A3F54;color:#fff'],
                        content: $("#filter_form")
                        ,closeBtn:0
                        ,shadeClose: true
                        ,btn: ['确定','取消']
                        ,btn1: function (index, layero){
                            let condition = {
                                patient_id:name_select.getValue('value'),
                                session_id:session_id_select.getValue('value'),
                                name:name_select.getValue('name'),
                                age:$("#age").val().trim(),
                                age_compare:$("#age_compare_select option:selected").val(),
                                sex:$("input[name='sex']:checked").val(),
                                source: $("#source_select option:selected").val(),
                                blood: $("input[name='blood']:checked").val(),
                                cognitive: $("input[name='cognitive']:checked").val(),
                                sound: $("input[name='sound']:checked").val(),
                                diagnosis: diagnosis_select.getValue('value'),
                                startDate:$("#startDate").val(),
                                endDate:$("#endDate").val(),
                                hama_total_score:$("#hama_total_score").val().trim(),
                                hama_compare:$("#hama_total_score_compare_select option:selected").val(),
                                hamd17_total_score:$("#hamd17_total_score").val().trim(),
                                hamd17_compare:$("#hamd17_total_score_compare_select option:selected").val(),
                                ymrs_total_score:$("#ymrs_total_score").val().trim(),
                                ymrs_compare:$("#ymrs_total_score_compare_select option:selected").val(),
                            };
                            let n = 0;
                            for(let i of Object.values(condition)){
                                if (i === '' || i === null || i === 0 || i.length === 0 || i === '0'){
                                    n++
                                }
                            }
                            // 判断是否有筛选条件
                            isAll = n === Object.keys(condition).length;
                            // 重新渲染表格
                            tb_patient.reload({
                                where:condition,
                                page:{
                                    curr:1
                                }
                            })
                            layer.close(index)
                        }
                    })
                    break
                case 'export_all_content':
                    if(isAll){
                        layer.confirm('确定导出所有数据吗（非当页数据，是全部复扫记录）？', {
                            btn: ['确定','取消'] //按钮
                        }, function(){
                            layer.msg('请稍等...',{time:0})
                            // 全部导出
                            $.get('{% url 'statistics' %}',{all:1},function (res, status){
                                if(status === 'success'){
                                    layer.msg('导出成功！')
                                    table.exportFile(tb_patient.config.id, res.data)
                                }
                            })
                        }, function(){

                        });
                    }else{
                        layer.confirm('确定导出目前有筛选条件后数据吗？',{ btn: ['确定','取消'] }
                        ,function () {
                            layer.msg('请稍等...',{time:0})
                            $.get('{% url 'statistics' %}',{all:1,...condition},function (res, status){
                                if(status === 'success'){
                                    layer.msg('导出成功！')
                                    table.exportFile(tb_patient.config.id, res.data)
                                }
                            })
                        })

                    }

                    break
                case 'checkbox_export':
                    let selected_data = checkStatus.data
                    if (selected_data.length !== 0){
                        layer.confirm('已选中了'+selected_data.length+'条记录要导出', {
                            btn: ['确定','取消']
                        },function (){
                            layer.msg('导出成功！')
                            table.exportFile(tb_patient.config.id, selected_data)
                        })
                    }else{
                        layer.msg('没有选中任何记录！')
                    }
                    break
                case 'statistics_tips':
                    layer.tips('一个具有筛选功能的复扫记录的统计表格','#statistics_title',{
                        tips:3
                        ,time:0
                    })

                    break
            }
        })

        // TODO 监听复选框操作
        table.on('checkbox(tb_record)', function(obj){
            console.log(obj); //当前行的一些常用操作集合
            console.log(obj.checked); //当前是否选中状态
            console.log(obj.data); //选中行的相关数据
            console.log(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
        });

        // TODO 监听行单击事件
        table.on('row(tb_record)', function(obj){
            //console.log(obj.tr) //得到当前行元素对象
            //console.log(obj.data) //得到当前行数据
            //obj.del(); //删除当前行
            //obj.update(fields) //修改当前行数据
        });

        // TODO 监听单元格
        table.on('edit(tb_record)', function(obj){ //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
            console.log(obj.value); //得到修改后的值
            console.log(obj.field); //当前编辑的字段名
            console.log(obj.data); //所在行的所有相关数据
        });

        // TODO 监听行工具条
        var storage_list = []
        table.on('tool(tb_record)',function (obj){
            var data = obj.data;
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr;



            function do_btn_alloc(obj_list, arr) {
            $.each(obj_list, function (index, item) {
                    if(item.do_scale_type === 1){
                        arr += "<button class='layui-btn layui-btn-xs'>"+item.scale_name+"</button>"
                    }else if(item.do_scale_type === 2){
                        arr += "<button class='layui-btn layui-btn-normal layui-btn-xs'>"+item.scale_name+"</button>"
                    }else if(item.do_scale_type === 3){
                        arr += "<button class='layui-btn layui-btn-warm layui-btn-xs'>"+item.scale_name+"</button>"
                    }else if(item.do_scale_type === 4){
                        arr += "<button class='layui-btn layui-btn-danger layui-btn-xs'>"+item.scale_name+"</button>"
                    }else{
                        arr += "<button class='layui-btn layui-btn-primary layui-btn-xs'>"+item.scale_name+"</button>"
                    }
                    // done_arr += "<button class='layui-btn layui-btn-primary layui-btn-xs'>"+item.scale_name+"</button>"
                    if((index + 1) % 4 === 0){
                        arr += "<br/>"
                    }
            })
                return arr
        }
            if (layEvent === 'show'){

                let done_arr,not_done_arr,no_need_arr = "无"

                // 若后台查询使用values_list()方法，那么元组在前台会转化成数组，所以通常使用values()
                done_arr = do_btn_alloc(data.scales.done, done_arr)
                not_done_arr = do_btn_alloc(data.scales.not_done, not_done_arr)
                no_need_arr = do_btn_alloc(data.scales.no_need, no_need_arr)

                let text = ""
                text += "<div class=\"layui-card\">";
                text += "        <div class=\"layui-card-header\">量表概况"+"（标准编号："+data.standard_id+"，姓名："+data.name+"）"+"</div>";
                text += "        <div class=\"layui-card-body\">";
                text += "            <blockquote class=\"layui-elem-quote layui-quote-nm\" style=\"\">";
                text += "<p style='font-size:14px'>已完成量表</p>"
                text += "<hr/>"
                text += "<div class='layui-btn-container'>";
                text += done_arr;
                text += "</div>";
                text += "            </blockquote>";
                text += "<blockquote class=\"layui-elem-quote layui-quote-nm\" style=\"\">";
                text += "<p style='font-size:14px'>未完成量表</p>"
                text += "<hr/>"
                text += "<div class='layui-btn-container'>"
                text += not_done_arr;
                text += "</div>"
                text += "</blockquote>";
                text += "<blockquote class=\"layui-elem-quote layui-quote-nm\" style=\"\">";
                text += "<p style='font-size:14px'>不必做量表</p>"
                text += "<hr/>"
                text += "<div class='layui-btn-container'>"
                text += no_need_arr;
                text += "</div>"
                text += "</blockquote>";

                //text += "<fieldset class=\"layui-elem-field\">";

                //text += "  <div class=\"layui-field-box\">";
                text += "<blockquote class=\"layui-elem-quote layui-quote-nm\" style=\"border-left: 5px solid red;font-size: 13px\">";
                //text += "<div class='layui-btn-container'>"
                text += "提示："
                text += "<button class=\"layui-btn layui-btn-primary layui-btn-xs\">一般信息表</button><button class=\"layui-btn layui-btn-xs\">他评量表</button>"
                     + "<button class=\"layui-btn layui-btn-normal layui-btn-xs\">自评量表</button><button class=\"layui-btn layui-btn-warm layui-btn-xs\">认知量表</button><button class=\"layui-btn layui-btn-danger layui-btn-xs\">其他信息表</button>"
                //text += "</div>"
                text += "</blockquote>";
                //text += "  </div>";
                //text += "</fieldset>";

                text += "        </div>";
                text += "    </div>";
                
                
                layer.open({
                    type:1,
                    title:false,
                    shadeClose:true,
                    resize:false,
                    content:text
                })
            }
            else if(layEvent === 'addToCompare'){
                //
                //var compare_data = layui.data('compare').data
                //console.log(compare_data)
                //storage_list.push(data)
                //var f_content = $('#filter_compare_content')
                //layui.data('compare',{
                    //key: 'data'
                    //,value: storage_list
                //})

            }
        })

    })
    $('input#click').click(function (){
            $.ajax({
                type: 'get',
                url:'{% url 'statistics' %}',
                dataType: 'json',
                success: function (res){
                    console.log(res.data)
                },
                error: function (){
                    alert('error!!')
                }
            })
    })

    </script>
{% endblock %}