{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter %}
{% block title %}被试管理{% endblock %}
{% block css %}

    <link rel="stylesheet" href="{% static '/css/fileinput.css' %}">

    <link href="{% static '/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/tinyselect.css' %}">
    <link href="{% static '/vendors/ajax/libs/select2/4.0.4/css/select2.min.css' %}" rel="stylesheet" />
    <style>
        .sel_beauty {
            background: #fafdfe;
            height: 28px;
            line-height: 28px;
            border: 1px solid #9bc0dd;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            width: 125px;
        }
    </style>
    <script src="{% static '/js/layerJquery.js' %}"></script>
    <script src="{% static '/js/layer.js' %}"></script>
{% endblock %}
{% block content %}
    <!--上传长期医嘱单模态框开始-->
    <div class="modal fade" id="upload_advice_file" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title" id="myModalLabel">
                        上传医嘱单
                    </h5>
                </div>
                <div class="modal-footer">
                    <div class="row text-center">
                        <form enctype="multipart/form-data">
                            <input type="file" id="medical_advice" name="medical_advice"
                                   class="col-md-4 col-md-offset-4"/>
                        </form>
                        <br>
                        <button id="import_medical_advice" onclick="upload_medical_advice({{ inpatient_detail.id }})">
                            导入
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="text-center">
                            <a href="/inpatients/get_inpatient_detail?inpatient_id={{ inpatient_detail.id }}">
                                <button class="btn btn-danger">取消</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        9
    </div>
    <!--上传长期医嘱单模态框结束-->
    <!--上传病程记录模态框开始-->
    <div class="modal fade" id="upload_progress_note" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title" id="myModalLabel1">
                        选择需要上传的文件
                    </h5>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="text-center">
                            <form enctype="multipart/form-data">
                                {% csrf_token %}
                                <p>上传病程记录<input type="file" id="progress_note" name="progress_note"/></p>
                            </form>
                            <button id="import_progress_note" onclick="upload_progress_note({{ inpatient_detail.id }})">
                                导入
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="text-center">
                            <a href="/inpatients/get_inpatient_detail?inpatient_id={{ inpatient_detail.id }}">
                                <button class="btn btn-danger">取消</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--上传病程记录模态框结束-->
    <div class="right_col" role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                        <li><a href="/inpatients/get_all_inpatient_info">被试信息</a></li>
                        <li class="active"><a href="#">住院管理</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12">

                    <div class="row">
                        <form name="modify_form" action="/inpatients/update_inpatient_info?inpatient_id={{ inpatient_detail.id }}" method="POST" style="height:438px;">
                            {% csrf_token %}
                            <div class="x_panel" style="height:440px;">
                                <div class="x_title">
                                    <h2>住院信息 </h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br/>
                                    <div class="form-horizontal form-label-left">
                                        <div class="row">
                                            <!--编号-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                                           for="patient_id">受试编号<span class="required">*:</span></label>
                                                    <div id="patient_id" class="col-md-8 col-sm-8 col-xs-12"
                                                         style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                        {{ inpatient_detail.patient.id }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <!--诊断情况-->
                                                <div class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                                           for="subject_number">诊断情况<span
                                                            class="required">*:</span></label>
                                                    <div class="col-md-8 col-sm-8 col-xs-12"
                                                         style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                        {{ inpatient_detail.patient|get_diagnosis_by_object }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!--科室-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">性别
                                                        <span
                                                                class="required">*:</span></label>
                                                    <div id="sex" class="col-md-8 col-sm-8 col-xs-12"
                                                         style="padding-top: 7px;margin-bottom: 0;text-align: left">

                                                        {{ inpatient_detail.patient.get_sex_display }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <!--床号-->
                                                <div class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">姓名
                                                        <span
                                                                class="required">*:</span></label>
                                                    <div id="name" class="col-md-8 col-sm-8 col-xs-12"
                                                         style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                        {{ inpatient_detail.patient.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!--入院日-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                                           for="patient_id">入院日<span class="required">*:</span></label>
                                                    <div id="in_date" class="col-md-8 col-sm-8 col-xs-12"
                                                         style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                        <input type="date" name="in_date" class="sel_beauty"
                                                               value="{{ inpatient_detail.in_date|processNone }}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                                           for="patient_id">床号<span class="required">*:</span></label>
                                                    <div id="bed_number" class="col-md-8 col-sm-8 col-xs-12"
                                                         style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                        <input type="text" name="bed_number" class="sel_beauty"
                                                               value="{{ inpatient_detail.bed_number|processNone }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--姓名-->
                                        <!--性别-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                                           for="patient_id">科室<span class="required">*:</span></label>
                                                    <div id="department" class="col-md-8 col-sm-8 col-xs-12"
                                                         style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                        <input type="text" name="department" class="sel_beauty"
                                                               value="{{ inpatient_detail.department|processNone }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">病区
                                                        <span
                                                                class="required">*:</span></label>
                                                    <div id="inpatient_area" class="col-md-8 col-sm-8 col-xs-12"
                                                         style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                        <input type="text" name="inpatient_area" class="sel_beauty"
                                                               value="{{ inpatient_detail.inpatient_area|processNone }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--病区-->
                                        <!--住院号-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                                           for="patient_id">住院号<span class="required">*:</span></label>
                                                    <div id="inpatient_number" class="col-md-8 col-sm-8 col-xs-12"
                                                         style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                        <input type="text" name="inpatient_number" class="sel_beauty"
                                                               value="{{ inpatient_detail.inpatient_number|processNone }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                                           for="patient_id">出院日<span class="required">*:</span></label>
                                                    <div id="out_date" class="col-md-8 col-sm-8 col-xs-12"
                                                         style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                        <input type="date" name="out_date" class="sel_beauty"
                                                               value="{{ inpatient_detail.out_date|processNone }}"/>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="text-align: center;margin-top: 30px;">
                                            <input type="submit" class="btn btn-success" id="change_detail"
                                                   value="保存修改"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <div class="x_panel" style="min-height:440px;">
                            <div class="x_title">
                                <h2>查看文件信息 </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                {% if inpatient_detail.medical_advice_path == '' %}
                                    <a href="javascript:alert('未上传长期医嘱单');">
                                        <button type="button" class="btn btn-success">长期医嘱单</button>
                                    </a>
                                {% else %}
                                    <a href="/inpatients/read_medical_advice?inpatient_id={{ inpatient_detail.id }}">
                                        <button type="button" class="btn btn-success">长期医嘱单</button>
                                    </a>
                                {% endif %}
                                <br>
                                {% if inpatient_detail.progress_note == '' %}
                                    <a href="javascript:alert('未上传病程信息');">
                                        <button type="button" class="btn btn-success" id="">
                                            &nbsp;&nbsp;病程信息&nbsp;&nbsp;
                                        </button>
                                    </a>
                                {% else %}
                                    <a>
                                        <button type="button" class="btn btn-success" id="show_progress_note">&nbsp;&nbsp;病程信息&nbsp;&nbsp;</button>
                                    </a>
                                    <div id="progress_pdf"></div>
                                {% endif %}




                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="row">
                        <div class="x_panel" style="height: 440px;">
                            <div class="x_title">
                                <h2>长期医嘱单 </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="form-horizontal form-label-left input_mask">
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="container my-1" style="height: 300px;">
                                                <div class="file-loading"
                                                     style="position:relative;border:1px solid red;">
                                                    <input id="input-23" name="input23[]" type="file" multiple/>
                                                </div>
                                                <div class='load_img1'></div>
                                                <!--                                        <i class="fa fa-spinner fa-spin"></i>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="x_panel" style="height:440px;">
                            <div class="x_title">
                                <h2>病程记录 </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br>
                                <div class="form-horizontal form-label-left input_mask">
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="container my-4" style="height: 300px;">
                                                <div class="file-loading"
                                                     style="position:relative;border:1px solid red;">
                                                    <input id="input-24" name="input24[]" type="file" multiple/>
                                                <div class='load_img2'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script srcpe="text/javascript" src="{% static '/js/pdfobject.min.js' %}"></script>="{% static '/vendors/ajax/libs/select2/4.0.4/js/select2.min.js' %}"></script>
    <script ty
    <script src="{% static '/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
s
    <script type="text/javascript" src="{% static '/js/fileinput.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/bootstrap.bundle.min.js' %}"></script>


    <script type="text/javascript" src="{% static '/js/subjectEstablish.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.load_img1').hide();
            $('.load_img2').hide();
            $("#input-23").fileinput({
                maxFileCount: 1,

            });
            $("#input-24").fileinput({
                maxFileCount: 1,
            });
            $(".my-1 .fileinput-upload-button").click(function () {
                var inpatient_id =
                {{ inpatient_detail.id }}
                var formData = new FormData();
                formData.append('inpatient_id', inpatient_id)
                /*alert(document.getElementById("input-23"))*/
                formData.append('medical_advice', document.getElementById("input-23").files[0])
                formData.append("csrfmiddlewaretoken", $("[name = 'csrfmiddlewaretoken']").val())
                $(".my-1 .fileinput-upload-button").attr('disabled', true);
                $('.load_img1').show();
                $.ajax({
                    type: 'POST',
                    url: "/inpatients/upload_medical_advice",
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    success: function (data) {
                        $('.load_img1').hide();
                        $(".my-1 .fileinput-upload-button").attr('disabled', false);
                        alert(data['message'])
                        location.reload()
                    },
                    error: function () {
                        $('.load_img1').hide();
                        $(".my-1 .fileinput-upload-button").attr('disabled', false);
                        alert("上传失败！");
                    }
                });
            });

            $(".my-4 .fileinput-upload-button").click(function () {
                var inpatient_id =
                {{ inpatient_detail.id }}
                var formData = new FormData();
                formData.append('inpatient_id', inpatient_id)
                formData.append('progress_note', document.getElementById("input-24").files[0])
                formData.append("csrfmiddlewaretoken", $("[name = 'csrfmiddlewaretoken']").val())
                $(".my-4 .fileinput-upload-button").attr('disabled', true);
                $('.load_img2').show();
                $.ajax({
                    type: 'POST',
                    url: "/inpatients/upload_progress_note",
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    success: function (data) {
                        $('.load_img2').hide();
                        $(".my-4 .fileinput-upload-button").attr('disabled', false);
                        alert(data['message'])
                        location.reload()
                    },
                    error: function () {
                        $('.load_img2').hide();
                        $(".my-4 .fileinput-upload-button").attr('disabled', false);
                        alert("上传失败！");
                    }
                });
            });
            $('#show_progress_note').click(function () {
                PDFObject.embed("{{ inpatient_detail|get_progress_note_url }}", "#progress_pdf", {height: "800px"});
            });
        });

    </script>
    <script type="text/javascript" language="JavaScript">

        function zeropadding(num, length) {
            //这里用slice和substr均可
            return (Array(length).join("0") + num).slice(-length);
        }

        function judge_diagnosis(obj) {
            if (obj.options[obj.selectedIndex].value == 99) {
                document.getElementById("other_diagnosis_div").style.display = "";
                document.getElementById("ghr_div").style.display = "none";
            } else if (obj.options[obj.selectedIndex].value == 7) {
                document.getElementById("other_diagnosis_div").style.display = "none";
                document.getElementById("ghr_div").style.display = "";
            } else {
                document.getElementById("ghr_div").style.display = "none";
                document.getElementById("other_diagnosis_div").style.display = "none";
            }
        }


    </script>

    <script>
        var i = 1;

        function addLine() {

            var txt1 = document.createElement("p");
            var s = ""
            s += "<div class=col-md-4 style=margin: 10px >"

            s += "<select tabindex=-1 style=font-size: 10px ;style=margin: 10px; class=sel_beauty  form-control col-md-4 id=singleSelect" + i + " name=patient_session_id_" + i + " >"
            s += " <option value= 0 >无</option>"
            s += " {% for obj in patients %}"
                s += "<option value ={{ obj.id }}>{{ obj.id }}-{{ obj.name }}-{{ obj.birth_date }}</option>"
                s+="{% endfor %}"
            s += " </select>"
            s += "</div>"

            txt1.innerHTML = s;

            var txt2 = document.createElement("p");
            var str = "";
            str += "<div class=col-md-4 style=margin: 10px>"
            str += "<select tabindex=-1 style=font-size: 10px ;style=margin: 10px; class=sel_beauty select2_single form-control col-md-4 required id=ghr_diagnosis" + i + " name=diagnosis_" + i + ">"
            str += "<option  value=2>" + '重性抑郁障碍';
            str += "<option  value=3>" + '焦虑障碍';
            str += "<option  value=4>" + '双相障碍';
            str += "<option  value=5>" + '精神分裂症';
            str += "<option  value=6>" + '强迫症';
            str += "<option  value=8>" + '临床高危';
            str += "<option  value=9>" + '抑郁症状';
            str += "<option  value=99>" + '其他诊断';

            str += "</select>";
            str += "</div>";


            txt2.innerHTML = str;
            var txt3 = document.createElement("p");
            var str2 = "";
            str2 += "<div class=col-md-4 style=margin: 10px>"
            str2 += "<select tabindex=-1 style=font-size: 10px ;style=margin: 10px; class=sel_beauty select2_single form-control col-md-4 required id=ghr_kinship" + i + " name=kinship_" + i + ">"
            str2 += "<option  value=0>" + '父亲';
            str2 += "<option  value=1>" + '母亲';
            str2 += "<option  value=2>" + '儿子';
            str2 += "<option  value=3>" + '女儿';
            str2 += "<option  value=4>" + '哥哥';
            str2 += "<option  value=5>" + '弟弟';
            str2 += "<option  value=6>" + '姐姐';
            str2 += "<option  value=7>" + '妹妹';
            str2 += "</select>";
            str2 += "</div>";


            txt3.innerHTML = str2;

            $("#ghr_add").append(txt1, txt2, txt3);
            $("#singleSelect" + i + "").select2();
            $("#ghr_diagnosis" + i + "").select2();
            $("#ghr_kinship" + i + "").select2();
            i++;


        }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {//加载页面时执行select2
            $('#singleSelect').select2();
            $('#ghr_diagnosis').select2();
            $('#ghr_kinship').select2();
        });

    </script>
    <script type="application/javascript">
        function upload_progress_note(inpatient_id) {
            var formData = new FormData();
            formData.append('patient_id', inpatient_id);
            formData.append('progress_note', document.getElementById("progress_note").files[0])
            formData.append("csrfmiddlewaretoken", $("[name = 'csrfmiddlewaretoken']").val())
            $.ajax({
                type: 'POST',
                url: "/inpatients/upload_progress_note_test",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (data) {
                    alert(data['message']);
                },
                error: function () {
                    alert("上传失败！");
                }
            });
        }

        function upload_medical_advice(inpatient_id) {
            var formData = new FormData();
            formData.append('inpatient_id', inpatient_id);
            formData.append('medical_advice', document.getElementById("medical_advice").files[0])
            formData.append("csrfmiddlewaretoken", $("[name = 'csrfmiddlewaretoken']").val())
            $.ajax({
                type: 'POST',
                url: "/inpatients/upload_medical_advice",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (data) {
                    alert(data['message'])
                },
                error: function () {
                    alert("上传失败！");
                }
            });
        }


    </script>
{% endblock %}