{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter %}
{% block title %}长期医嘱/病程记录管理{% endblock %}
{% block css %}

    <link rel="stylesheet" href="{% static '/css/fileinput.css' %}">

    <link href="{% static '/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/tinyselect.css' %}">
    <link href="{% static '/vendors/ajax/libs/select2/4.0.4/css/select2.min.css' %}" rel="stylesheet" />
    <style>
        .sel_beauty {
            background: #fafdfe;
            height: 28px;
            line-height: 28px;
            border: 1px solid #9bc0dd;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            width: 125px;
        }
    </style>
    <script src="{% static '/js/layerJquery.js' %}"></script>
    <script src="{% static '/js/layer.js' %}"></script>
{% endblock %}
{% block content %}
    <!--上传长期医嘱单模态框开始-->
    <div class="modal fade" id="upload_advice_file" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title" id="myModalLabel">
                        上传医嘱单
                    </h5>
                </div>
                <div class="modal-footer">
                    <div class="row text-center">
                        <form enctype="multipart/form-data">
                            <input type="file" id="medical_advice" name="medical_advice"
                                   class="col-md-4 col-md-offset-4"/>
                        </form>
                        <br>
                        <button id="import_medical_advice" onclick="upload_medical_advice({{ patient_baseinfo.id }})">
                            导入
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="text-center">
                            <a href="/inpatients/get_inpatient_detail?inpatient_id={{ patient_baseinfo.id }}">
                                <button class="btn btn-danger">取消</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        9
    </div>
    <!--上传长期医嘱单模态框结束-->
    <!--上传病程记录模态框开始-->
    <div class="modal fade" id="upload_progress_note" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h5 class="modal-title" id="myModalLabel1">
                        选择需要上传的文件
                    </h5>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="text-center">
                            <form enctype="multipart/form-data">
                                {% csrf_token %}
                                <p>上传病程记录<input type="file" id="progress_note" name="progress_note"/></p>
                            </form>
                            <button id="import_progress_note" onclick="upload_progress_note({{ patient_baseinfo.id }})">
                                导入
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="text-center">
<!-- -->                            <a href="/inpatients/get_inpatient_detail?inpatient_id={{ patient_baseinfo.id }}">
                                <button class="btn btn-danger">取消</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--上传病程记录模态框结束-->
    <div class="right_col" role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                        <li><a href="/patients/subjectManage">被试管理</a></li>
                        <li><a href="/patients/get_patient_detail?patient_id={{ patient_baseinfo.id }}">信息录入</a></li>
                        <li class="active"><a href="#">长期医嘱/病程记录管理</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <!-- -->
                <div class="col-md-5 col-sm-5 col-xs-12" >
                    <div class="row">
                        {% csrf_token %}
                        <div class="x_panel" style="height:880px;"><!-- -->
                            <div class="x_title">
                                <h2>病人信息 </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br/>
                                <div class="form-horizontal form-label-left">
                                    <!--编号,诊断情况-->
                                    <div class="row">
                                        <!--编号-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                                       for="patient_id">受试编号<span class="required">*:</span></label>
                                                <div id="patient_id" class="col-md-8 col-sm-8 col-xs-12"
                                                     style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                    <!--JavaScript formatZero函数添加受试编号-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--诊断情况-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                                       for="subject_number">诊断情况<span class="required">*:</span>
                                                </label>
                                                <div class="col-md-8 col-sm-8 col-xs-12"
                                                     style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                    {{ patient_baseinfo|get_diagnosis_by_object }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--性别,姓名-->
                                    <div class="row">
                                        <!--性别-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">性别
                                                    <span class="required">*:</span>
                                                </label>
                                                <div id="sex" class="col-md-8 col-sm-8 col-xs-12" style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                    {{ patient_baseinfo.get_sex_display }}
                                                </div>
                                            </div>
                                        </div>
                                        <!--姓名-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">姓名
                                                    <span class="required">*:</span>
                                                </label>
                                                <div id="name" class="col-md-8 col-sm-8 col-xs-12" style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                    {{ patient_baseinfo.name }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--出生日期,民族-->
                                    <div class="row">
                                        <!--出生日期-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                                       for="patient_id">出生日期<span class="required">*:</span></label>
                                                <div id="in_date" class="col-md-8 col-sm-8 col-xs-12"
                                                     style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                        {{ patient_baseinfo.birth_date }}
                                                </div>
                                            </div>
                                        </div>
                                        <!--民族-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4 col-sm-4 col-xs-12"
                                                       for="patient_id">民族<span class="required">*:</span></label>
                                                <div id="bed_number" class="col-md-8 col-sm-8 col-xs-12"
                                                     style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                                        {{ patient_baseinfo.nation }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="x_title">
                                <h2>查看文件信息 </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                {% if medical_advice.medical_advice_path == '' or medical_advice == None or medical_advice.is_medical_advice == 0 %}
                                    <a href="javascript:alert('未上传长期医嘱单');">
                                        <button type="button" class="btn btn-success">长期医嘱单</button>
                                    </a>
                                {% else %}
                                    <a href="/patients/read_medical_advice?patient_id={{ patient_baseinfo.id }}">
                                        <button type="button" class="btn btn-success">长期医嘱单</button>
                                    </a>
                                {% endif %}
                                <br>
                                {% if medical_advice.progress_note_path == '' or medical_advice == None or medical_advice.is_progress_note == 0 %}
                                    <a href="javascript:alert('未上传病程信息');">
                                        <button type="button" class="btn btn-success" id="">
                                            &nbsp;&nbsp;病程信息&nbsp;&nbsp;
                                        </button>
                                    </a>
                                {% else %}
                                    <a href="/patients/read_progress_note?patient_id={{ patient_baseinfo.id }}">
                                        <button type="button" class="btn btn-success" id="show_progress_note">&nbsp;&nbsp;病程信息&nbsp;&nbsp;</button>
                                    </a>
                                    <div id="progress_pdf"></div>
                                {% endif %}
                            </div>
                            <!-- -->
                            <div class="x_title" style="margin-top: 185px">
                                <h2>前期用药备注 </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <form name="add_ps" action="/patients/add_ps?patient_id={{ patient_baseinfo.id }}"
                                      method="POST">
                                    {% csrf_token %}
                                    <div>
                                        <textarea class="col-md-12 col-sm-12 col-xs-12" rows="10" style="resize: none;
                                        border-color: #6688a8;margin-bottom: 30px;" name="ps" id="ps_textarea"></textarea>
                                    </div>

                                    <div class="row" style="text-align: center;margin-top: 30px;">
                                        <input type="submit" class="btn btn-success" id="submit_ps" value="提交"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- -->
                <div class="col-md-7 col-sm-7 col-xs-12" style="border-left-style: none">
                    <div class="row">
                        <div class="x_panel" style="height: 880px;">
                            <div class="x_title">
                                <h2>长期医嘱单 </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="form-horizontal form-label-left input_mask">
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="container my-1" style="height: 300px;">
                                                <div class="file-loading"
                                                     style="position:relative;border:1px solid red;">
                                                    <input id="input-23" name="input23[]" type="file" multiple/>
                                                </div>
                                                <div class='load_img1'></div>
                                                <!--                                        <i class="fa fa-spinner fa-spin"></i>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- -->
                            <div class="x_title" style="margin-top: 400px">
                                <h2>病程记录 </h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br>
                                <div class="form-horizontal form-label-left input_mask">
                                    <div class="form-group">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="container my-4" style="height: 300px;">
                                                <div class="file-loading"
                                                     style="position:relative;border:1px solid red;">
                                                    <input id="input-24" name="input24[]" type="file" multiple/>
                                                </div>
                                                <div class='load_img2'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static '/vendors/ajax/libs/select2/4.0.4/js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/pdfobject.min.js' %}"></script>
    <script src="{% static '/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
s
    <script type="text/javascript" src="{% static '/js/fileinput.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/bootstrap.bundle.min.js' %}"></script>


    <script type="text/javascript" src="{% static '/js/subjectEstablish.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.load_img1').hide();
            $('.load_img2').hide();
            //上传长期医嘱表的拖拽栏
            $("#input-23").fileinput({
                maxFileCount: 1,

            });
            //上传病程记录的拖拽栏
            $("#input-24").fileinput({
                maxFileCount: 1,
            });
            $(".my-1 .fileinput-upload-button").click(function () {
                var patient_id =
                {{ patient_baseinfo.id }}
                var formData = new FormData();
                formData.append('patient_id', patient_id)
                /*alert(document.getElementById("input-23"))*/
                formData.append('medical_advice', document.getElementById("input-23").files[0])
                formData.append("csrfmiddlewaretoken", $("[name = 'csrfmiddlewaretoken']").val())
                $(".my-1 .fileinput-upload-button").attr('disabled', true);
                $('.load_img1').show();
                $.ajax({
                    type: 'POST',
                    url: "/patients/upload_medical_advice",
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    success: function (data) {
                        $('.load_img1').hide();
                        $(".my-1 .fileinput-upload-button").attr('disabled', false);
                        alert(data['message'])
                        location.reload()
                    },
                    error: function () {
                        $('.load_img1').hide();
                        $(".my-1 .fileinput-upload-button").attr('disabled', false);
                        alert("上传失败！");
                    }
                });
            });

            $(".my-4 .fileinput-upload-button").click(function () {
                var patient_id =
                {{ patient_baseinfo.id }}
                var formData = new FormData();
                formData.append('patient_id', patient_id)
                formData.append('progress_note', document.getElementById("input-24").files[0])
                formData.append("csrfmiddlewaretoken", $("[name = 'csrfmiddlewaretoken']").val())
                $(".my-4 .fileinput-upload-button").attr('disabled', true);
                $('.load_img2').show();
                $.ajax({
                    type: 'POST',
                    url: "/patients/upload_progress_note",
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    success: function (data) {
                        $('.load_img2').hide();
                        $(".my-4 .fileinput-upload-button").attr('disabled', false);
                        alert(data['message'])
                        location.reload()
                    },
                    error: function () {
                        $('.load_img2').hide();
                        $(".my-4 .fileinput-upload-button").attr('disabled', false);
                        alert("上传失败！");
                    }
                });
            });

        });

    </script>
    <script type="text/javascript" language="JavaScript">

        function zeropadding(num, length) {
            //这里用slice和substr均可
            return (Array(length).join("0") + num).slice(-length);
        }

        function judge_diagnosis(obj) {
            if (obj.options[obj.selectedIndex].value == 99) {
                document.getElementById("other_diagnosis_div").style.display = "";
                document.getElementById("ghr_div").style.display = "none";
            } else if (obj.options[obj.selectedIndex].value == 7) {
                document.getElementById("other_diagnosis_div").style.display = "none";
                document.getElementById("ghr_div").style.display = "";
            } else {
                document.getElementById("ghr_div").style.display = "none";
                document.getElementById("other_diagnosis_div").style.display = "none";
            }
        }


    </script>

    <script>
        var i = 1;

        function addLine() {

            var txt1 = document.createElement("p");
            var s = ""
            s += "<div class=col-md-4 style=margin: 10px >"

            s += "<select tabindex=-1 style=font-size: 10px ;style=margin: 10px; class=sel_beauty  form-control col-md-4 id=singleSelect" + i + " name=patient_session_id_" + i + " >"
            s += " <option value= 0 >无</option>"
            s += " {% for obj in patients %}"
                s += "<option value ={{ obj.id }}>{{ obj.id }}-{{ obj.name }}-{{ obj.birth_date }}</option>"
                s+="{% endfor %}"
            s += " </select>"
            s += "</div>"

            txt1.innerHTML = s;

            var txt2 = document.createElement("p");
            var str = "";
            str += "<div class=col-md-4 style=margin: 10px>"
            str += "<select tabindex=-1 style=font-size: 10px ;style=margin: 10px; class=sel_beauty select2_single form-control col-md-4 required id=ghr_diagnosis" + i + " name=diagnosis_" + i + ">"
            str += "<option  value=2>" + '重性抑郁障碍';
            str += "<option  value=3>" + '焦虑障碍';
            str += "<option  value=4>" + '双相障碍';
            str += "<option  value=5>" + '精神分裂症';
            str += "<option  value=6>" + '强迫症';
            str += "<option  value=8>" + '临床高危';
            str += "<option  value=9>" + '抑郁症状';
            str += "<option  value=99>" + '其他诊断';

            str += "</select>";
            str += "</div>";


            txt2.innerHTML = str;
            var txt3 = document.createElement("p");
            var str2 = "";
            str2 += "<div class=col-md-4 style=margin: 10px>"
            str2 += "<select tabindex=-1 style=font-size: 10px ;style=margin: 10px; class=sel_beauty select2_single form-control col-md-4 required id=ghr_kinship" + i + " name=kinship_" + i + ">"
            str2 += "<option  value=0>" + '父亲';
            str2 += "<option  value=1>" + '母亲';
            str2 += "<option  value=2>" + '儿子';
            str2 += "<option  value=3>" + '女儿';
            str2 += "<option  value=4>" + '哥哥';
            str2 += "<option  value=5>" + '弟弟';
            str2 += "<option  value=6>" + '姐姐';
            str2 += "<option  value=7>" + '妹妹';
            str2 += "</select>";
            str2 += "</div>";


            txt3.innerHTML = str2;

            $("#ghr_add").append(txt1, txt2, txt3);
            $("#singleSelect" + i + "").select2();
            $("#ghr_diagnosis" + i + "").select2();
            $("#ghr_kinship" + i + "").select2();
            i++;


        }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {//加载页面时执行select2
            $('#singleSelect').select2();
            $('#ghr_diagnosis').select2();
            $('#ghr_kinship').select2();
        });

    </script>
    <script type="application/javascript">
        function upload_progress_note(patient_id) {
            var formData = new FormData();
            formData.append('patient_id', patient_id);
            formData.append('progress_note', document.getElementById("progress_note").files[0])
            formData.append("csrfmiddlewaretoken", $("[name = 'csrfmiddlewaretoken']").val())
            $.ajax({
                type: 'POST',
                url: "/patients/upload_progress_note",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (data) {
                    alert(data['message']);
                },
                error: function () {
                    alert("上传失败！");
                }
            });
        }

        function upload_medical_advice(patient_id) {
            var formData = new FormData();
            formData.append('patient_id', patient_id);
            formData.append('medical_advice', document.getElementById("medical_advice").files[0])
            formData.append("csrfmiddlewaretoken", $("[name = 'csrfmiddlewaretoken']").val())
            $.ajax({
                type: 'POST',
                url: "/patients/upload_medical_advice",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (data) {
                    alert(data['message'])
                },
                error: function () {
                    alert("上传失败！");
                }
            });
        }
    </script>
    <script>
    //自动生成标准id
        document.getElementById("patient_id").innerHTML = 'NN_' + formatZero({{ patient_baseinfo.id }}, 8)
        function formatZero(num, len) {
            if (String(num).length > len) return num;
            return (Array(len).join(0) + num).slice(-len);

        }

    </script>
    <script>
    //输入框默认显示已有备注
        var ps_content = "{{ medical_advice.postscript }}"
        var ps_is_medical_advice = "{{ medical_advice.is_medical_advice }}"
        var is_ps = "{{ medical_advice.is_postscript }}"
        var ps_defaut = "请输入前期用药备注。"
        if (ps_content ==""||ps_content =="None"||ps_is_medical_advice =="0"||ps_is_medical_advice ==""||is_ps =="0"){
            $("#ps_textarea").attr("placeholder",ps_defaut)
        }else{
            //先处理换行符，否则无法正确读取包含换行符的内容
            line_feed_back = ps_content.replaceAll('&lt;br/&gt;','\n');
            $("#ps_textarea").val(line_feed_back);
            //$("#ps_textarea").val(ps_content);
        }
        $("#submit_ps").click(function (){
            //处理换行符以作比较
            var line_feed_compare = $("#ps_textarea").val();
            line_feed_compare = line_feed_compare.replace(/\n/g,'&lt;br/&gt;');
            var line_feed_input = $("#ps_textarea").val();
            line_feed_input = line_feed_input.replace(/\n/g,'<br/>');
            if(ps_is_medical_advice =="0"||ps_is_medical_advice ==""||ps_is_medical_advice =="None") {
                alert("未上传长期医嘱单，请在上传长期医嘱后再进行备注。")
                return false
            } else if (line_feed_compare == ""){
                alert("新的备注内容为空，如果需要修改，请正确填写备注。")
                return false
            }else if(line_feed_compare == ps_content && line_feed_compare != "None" && is_ps != "0"){
                alert("备注内容无修改！")
                return false
            }else{
                $("#ps_textarea").val(line_feed_input)
                alert("修改成功！")
                return true
            }
        })
    </script>
{% endblock %}