{% extends 'templates/index.html' %}
{% load static %}
{% load SelfDefinedFilter %}
{% block title %}新建被试{% endblock %}
{% block css %}
    <link href="{% static '/css/scales_style.css' %}" rel="stylesheet">
    <link href="{% static '/css/select_scales.css' %}" rel="stylesheet">
    <style>
        .sel_beauty {
            background: #fafdfe;
            height: 28px;
            line-height: 28px;
            border: 1px solid #9bc0dd;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            width: 135px;
        }
        {#去掉上下箭头#}
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        input[type="number"]{
            -moz-appearance: textfield;
        }
    </style>
{% endblock %}
{% block content %}
    <!--弹出模态框，提交采血信息-->
    <div class="modal fade" id="modal_blood_info" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/patients/add_blood?patient_session_id={{ patient_session_id }}&patient_id={{ patient_baseinfo.id }}" method="post" name="subjectEstablishForm">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h5 class="modal-title" id="myModalLabel">
                            采血信息
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin-bottom: 10px;">

                            <label class="col-sm-5 control-label" for="blood_sample_id" style="text-align: right">样本编号：</label>
                            <div class="col-sm-4">
                                <input type="text" class=" sel_beauty form-control input-sm " name="blood_sample_id"
                                       onfocus="if(value=='-请输入-'){value=''}" onblur="if(value==''){value='-请输入-'}"
                                       oninput="{blood_sample_id_change()}"/>
                            </div>

                        </div>
{#                          <p class="col-sm-offset-3" style="font-size: 10px;color: lightcoral;">温馨提示：如果该人次无法做血，样本编号填写-请输入-，直接提交即可</p>#}


                        <div class="row" style="margin-bottom: 10px;">
                            <label class="col-sm-5 control-label" style="text-align: right" for="inspect_date"> 送检日期：</label>
                            <div class="col-sm-4">
                                <input type="date" class=" sel_beauty form-control input-sm" name="inspect_date" disabled/>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 10px;">
                            <label class="col-sm-5 control-label" style="text-align: right" for="blood_sampling_date"> 采血日期：</label>
                            <div class="col-sm-4">
                                <input type="date" class=" sel_beauty form-control input-sm" name="blood_sampling_date" disabled/>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 10px;">
                            <label class="col-sm-5 control-label" for="total_blood_number" style="text-align: right">全血(管/1000μl):</label>
                            <div class="col-sm-4">
                                <input type="number" class=" sel_beauty form-control input-sm " min="0" name="total_blood_number"
                                       onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" disabled/>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 10px;">

                            <label class="col-sm-5 control-label" for="plasma_number" style="text-align: right">血浆(管/540μl):</label>
                            <div class="col-sm-4">
                                <input type="number" class=" sel_beauty form-control input-sm " min="0" name="plasma_number"
                                       onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" disabled/>
                            </div>


                        </div>

                        <div class="row" style="margin-bottom: 10px;">
                            <label class="col-sm-5 control-label" for="hemocyte_number" style="text-align: right">血细胞(管/1000μl):</label>
                            <div class="col-sm-4">
                                <input type="number" class=" sel_beauty form-control input-sm " min="0" name="hemocyte_number"
                                       onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" disabled/>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 10px;">
                            <label class="col-sm-5 control-label" for="extract_dna" style="text-align: right">DNA提取(浓度ng/μl):</label>
                            <div class="col-sm-4">
                                <input type="number" class=" sel_beauty form-control input-sm " min="0" step="0.00001"
                                       onKeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" name="extract_dna" disabled/>
                            </div>

                        </div>
                        <div class="row" style="margin-bottom: 10px;">

                            <label class="col-sm-5 control-label" for="name" style="text-align: right">备注：</label>
                            <div class="col-sm-4">
                                <input type="text" class=" sel_beauty form-control input-sm " name="note"/>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="text-center">
                                <input type="submit" class="btn btn-success" onclick="" value="提交"/>
                                <a href="manage_patients.html">
                                    <button class="btn btn-danger" data-dismiss="modal" type="button" onclick="">取消</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 模态框结束 -->


    <div class="right_col" role="main">
        <div class="row " style="margin-left:-20px">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ul class="breadcrumb" style="background-color: white;font-weight:bold">
                    <li><a href="subjectManage">被试管理</a></li>
                    <li class="active"><a href="subjectInfoInputSelet">被试信息录入选择列表</a></li>
                </ul>
            </div>
        </div>
        <div class="row x_panel">
        <br/><br/>
            <form  name="save_form" class="form-horizontal form-label-left"
                  action="/patients/update_patient_detail?patient_session_id={{ patient_session_id }}&patient_id={{ patient_baseinfo.id }}&session_id={{ patient_detail.session_id }}"
                  method="POST"  onSubmit="return myCheck(this) ">

                <div class="col-md-12 col-xs-12">
                   <div class="col-md-4  col-xs-12">
                        <div class="x_panel" style="height: 525px">
                            <div class="x_title">
                                <h2>个人信息<small>基本信息{{ standard_id }}</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-6"
                                           for="subject_number">受试编号<span class="required">:</span></label>
                                    <a href="/patients/get_patient_detail?patient_id={{ patient_baseinfo.id }}">
                                        <p class="col-md-6 col-sm-6 col-xs-6" id="patient_id" style="padding-top: 7px;margin-bottom: 0;text-align: left;text-decoration: underline">{{ standard_id }}</p>
                                    </a>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-6" for="last-name">姓名 <span
                                            class="required">:</span></label>
                                    <p class="col-md-6 col-sm-6 col-xs-6"
                                       style="padding-top: 7px;margin-bottom: 0;text-align: left">{{ patient_baseinfo.name }}</p>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-6">性别 <span
                                            class="required">:</span></label>
                                    <p class="col-md-6 col-sm-6 col-xs-6"
                                       style="padding-top: 7px;margin-bottom: 0;text-align: left">
                                        {% if patient_baseinfo.sex == 0 %}
                                            男
                                        {% else %}
                                            女
                                        {% endif %}
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-6">民族 <span
                                            class="required">:</span></label>
                                    <p class="col-md-6 col-sm-6 col-xs-6"
                                       style="padding-top: 7px;margin-bottom: 0;text-align: left">{{ patient_baseinfo.nation }}
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label for="birth_date" class="control-label col-md-6 col-sm-6 col-xs-6">出生日期<span
                                            class="required">:</span></label>
                                    <p class="col-md-6 col-sm-6 col-xs-6"
                                       style="width: 120px; padding-top: 7px;margin-bottom: 0;text-align: left;">{{ patient_baseinfo.birth_date }}</p>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-6"
                                           for="subject_number">年龄<span class="required">:</span></label>
                                    <p class="col-md-6 col-sm-6 col-xs-6" id="age"
                                       style="padding-top: 7px;margin-bottom: 0;text-align: left"> {{ patient_detail.age }}</p>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-6"
                                           for="subject_number">头动参数<span class="required">:</span></label>
                                    <input type="text" name="head_motion_parameters" class="sel_beauty"
                                           value="{{ patient_detail.head_motion_parameters|processNone }}"/>
                                </div>

                                 <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-6"
                                           for="subject_number">尿酸<span class="required">:</span></label>
                                    <input type="text" name="ua" class="sel_beauty"
                                           value="{{ patient_detail.ua|processNone }}"/>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-6"
                                           for="subject_number">扫描时间<span class="required">:</span></label>
                                    <input type="date" name="scan_date" class="sel_beauty"
                                           value="{{ patient_detail.scan_date }}"/>
                                </div>

{#                                <div class="form-group">#}
{#                                    <label class="control-label col-md-6 col-sm-6 col-xs-6"#}
{#                                           for="subject_number">采血时间<span class="required">:</span></label>#}
{#                                    <input type="date" name="blood_sampling_date" class="sel_beauty"#}
{#                                           value="{{ patient_detail.blood_sampling_date }}"/>#}
{#                                </div>#}

                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-6"
                                           for="subject_number">疾病诊断状态<span class="required">:</span></label>
                                    <input type="text" name="disease_state" class="sel_beauty"
                                           value="{{ patient_detail.disease_state|processNone }}"/>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-6 col-sm-6 col-xs-6"
                                           for="subject_number">扫描备注选项<span class="required">:</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px">
                                        <div class="" style="width: 140px">
                                            <select name="scan_note_option" id="scan_note_option" class="sel_beauty">
                                            {% for option in options_list %}
                                                <option value="{{ forloop.counter0 }}" {% if patient_detail.scan_note_option == forloop.counter0 %}selected{% endif %}>{{ option }}</option>
                                            {% endfor %}
                                            </select>

                                            <div id="scan_note_num_container" style="{% if patient_detail.scan_note_option < 3 or patient_detail.scan_note_option == null  %}display: none{% endif %}">
                                                <span>第</span> <input type="text" name="scan_note_num" class="sel_beauty" placeholder="输入数字" value="{{ patient_detail.scan_note_num|processNone}}" style="width: 90px;margin-top: 10px;"> <span>次</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br/>
                        </div>
                    </div>

                   <div class="col-md-4 col-xs-12">
                        <div class="x_panel" style="">
                            <div class="x_title">
                                <h2>量表录入选项列表</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" style="text-align: center">
                            <br/><br/><br/>
                                <a href="/scales/get_general_info_forms?patient_session_id={{ patient_session_id }}&patient_id={{ patient_baseinfo.id }}&do_type=0"
                                   style="color: white">
                                    {% if todo_generalinfo_scale_size == 0 %}
                                        <button class="btn btn-success" style="width: 70%" disabled="disabled" type="button">个人一般信息录入</button>
                                    {% else %}
                                        <button class="btn btn-success" style="width: 70%" type="button">
                                            个人一般信息录入({{ todo_generalinfo_scale_size }})
                                        </button>
                                    {% endif %}
                                </a>
                                <br/><br/>
                                <a href="/scales/get_other_test_forms?patient_session_id={{ patient_session_id }}&patient_id={{ patient_baseinfo.id }}"
                                   style="color: white">
                                    {% if todo_other_test_scale_size == 0 %}
                                        <button class="btn btn-warning " style="width: 70%" disabled="disabled" type="button">他测量表录入</button>
                                    {% else %}
                                        <button class="btn btn-warning " style="width: 70%" type="button">
                                            他测量表录入({{ todo_other_test_scale_size }})
                                        </button>
                                    {% endif %}
                                </a>
                                <br/><br/>
                                <a href="/scales/get_self_test_forms?patient_session_id={{ patient_session_id }}&patient_id={{ patient_baseinfo.id }}"
                                   style="color: white">
                                    {% if todo_self_test_scale_size == 0 %}
                                        <button class="btn btn-primary  " style="width: 70%" disabled="disabled" type="button">自评量表录入</button>
                                    {% else %}
                                        <button class="btn btn-primary " style="width: 70%" type="button">自评量表录入({{ todo_self_test_scale_size }})</button>
                                    {% endif %}
                                </a>
                                <br/><br/>
                                <a href="/scales/get_cognition_forms?patient_session_id={{ patient_session_id }}&patient_id={{ patient_baseinfo.id }}"
                                   style="color: white">
                                    {% if todo_cognition_scale_size == 0 %}
                                        <button class="btn btn-info  " style="width: 70%" disabled="disabled" type="button">认知量表录入</button>
                                    {% else %}
                                        <button class="btn btn-info " style="width: 70%" type="button">认知量表录入({{ todo_cognition_scale_size }})
                                        </button>
                                    {% endif %}
                                </a>
                                <br><br/>
                                <a href="/scales/get_rtms_forms?patient_session_id={{ patient_session_id }}&patient_id={{ patient_baseinfo.id }}"
                                   style="color: white">
                                    {% if tms == 1 %}
                                        <button class="btn btn-danger  " style="width: 70%" disabled="disabled" type="button">rtms治疗信息录入</button>
                                    {% else %}
                                        <button class="btn btn-danger " style="width: 70%" type="button">rtms治疗信息录入</button>

                                    {% endif %}
                                </a>
                                <br/>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>信息采集情况</h2>
                                <div class="clearfix"></div>
                            </div>
                        <br/><br/>
                            <div class="x_content">
                                <div class="form-group">
                                    <label class="control-label col-md-offset-1 col-md-5"
                                           for="subject_number">认知是否完成<span class="required">:</span></label>
                                        <input type="radio" name="cognitive" value=0 data-labelauty="否" />
                                        <input type="radio" name="cognitive" value=1 data-labelauty="是"/>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-offset-1 col-md-5"
                                           for="subject_number">录音是否完成<span class="required">:</span></label>
                                        <input type="radio" name="sound" value=0 data-labelauty="否" />
                                        <input type="radio" name="sound" value=1 data-labelauty="是"/>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-offset-1 col-md-5"
                                           for="subject_number">毛发是否采集<span class="required">:</span></label>

                                        <input type="radio" name="hairs" value=0 data-labelauty="否"/>
                                        <input type="radio" name="hairs" value=1 data-labelauty="是" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-offset-1 col-md-5"
                                           for="subject_number">粪便是否检测<span class="required">:</span></label>
                                        <input type="radio" name="manure" value=0 data-labelauty="否" />
                                        <input type="radio" name="manure" value=1 data-labelauty="是"/>

                                </div>
                                <div class="form-group">
                                    <label class="control-label  col-md-offset-1 col-md-5"
                                           for="subject_number">是否用药<span class="required">:</span></label>


                                        <input type="radio" name="drugs_information" value=0 data-labelauty="否"/>
                                        <input type="radio" name="drugs_information" value=1 data-labelauty="是"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-offset-1 col-md-5"
                                           for="subject_number">磁共振情况<span class="required">:</span></label>
                                        <input type="radio" name="mri_examination" value=0 data-labelauty="否"/>
                                        <input type="radio" name="mri_examination" value=1 data-labelauty="是" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-offset-1 col-md-5" for="subject_number">首发否<span
                                            class="required">:</span></label>
                                        <input type="radio" name="first" value=0 data-labelauty="否"/>
                                        <input type="radio" name="first" value=1 data-labelauty="是" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-offset-1 col-md-5"
                                           for="subject_number">血液信息<span class="required">:</span></label>
                                    <div style="">
                                        <a href="#modal_blood_info"  data-toggle="modal"  >
                                        <u id="blood_typein"></u>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-12">
                    <br/><br/>
                    <label class="control-label col-md-2 col-sm-2 col-xs-2" for="subject_number">备注<span
                            class="required">:</span></label>
                    <textarea class="col-md-8 col-sm-8 col-xs-8" rows="3" style="resize: none;border-color: #6688a8"
                              name="note">{{ patient_detail.note|processNone }}</textarea>
                </div>
                <div></div>
                <div class="col-md-12"
                     style="text-align: center;transform:translateY(50%);-ms-transform:translateY(50%);-webkit-transform:translateY(50%);">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success " style="margin-right: 40px" value="提交"/>
                </div>
            </form>
        </div>
    </div>
<script>
var num=1
 function myCheck(save_form) {
    if(num==1)
    {
        alert("提交成功！");
    }
    num=num+1;
            return true;
 }
</script>
    <script>
        function getData() {
            var blood = Number("{{ patient_detail.blood }}");
            if ('{{ patient_detail.blood }}' != 'None') {
                var blood_sample_id="{{ r_patient_blood.blood_sample_id|processNone }}"
                if('{{ r_patient_blood }}'!='None'){
                    $("input[name='blood_sample_id']").val('{{ r_patient_blood.blood_sample_id|processNone }}');
                    $("input[name='blood_sampling_date']").val('{{ r_patient_blood.blood_sampling_date|processNone }}');
                    $("input[name='inspect_date']").val('{{ r_patient_blood.inspect_date|processNone }}');
                    $("input[name='total_blood_number']").val('{{ r_patient_blood.total_blood_number|processNone }}');
                    $("input[name='plasma_number']").val('{{ r_patient_blood.plasma_number|processNone }}');
                    $("input[name='hemocyte_number']").val('{{ r_patient_blood.hemocyte_number|processNone }}');
                    $("input[name='extract_dna']").val('{{ r_patient_blood.extract_dna|processNone }}');
                    $("input[name='note']").val('{{ r_patient_blood.note|processNone }}');
                    if(blood==1){
                        $("#blood_typein").text('已完成('+blood_sample_id+')')
                        remove_disabled()
                    }else if(blood==0){
                        $("#blood_typein").text('已完成(此人次没有血液信息)')
                        $("input[name='blood_sample_id']").val('-请输入-');
                    }
                }
            }else{
                $("#blood_typein").text('未完成')
                $("input[name='blood_sample_id']").val('-请输入-');
            }

            var cognitive = Number("{{ patient_detail.cognitive }}");
            if ('{{ patient_detail.cognitive }}' != 'None') {
                $("input[name='cognitive'][value=" + cognitive + "]").prop("checked", true);
            }
            var sound = Number("{{ patient_detail.sound }}");
            if ('{{ patient_detail.sound }}' != 'None') {
                $("input[name='sound'][value=" + sound + "]").prop("checked", true);
            }
            var hairs = Number("{{ patient_detail.hairs }}");
            if ('{{ patient_detail.hairs }}' != 'None') {
                $("input[name='hairs'][value=" + hairs + "]").prop("checked", true);
            }
            var manure = Number("{{ patient_detail.manure }}");
            if ('{{ patient_detail.manure }}' != 'None') {
                $("input[name='manure'][value=" + manure + "]").prop("checked", true);
            }
            var first = Number("{{ patient_detail.first }}");
            if ('{{ patient_detail.first }}' != 'None') {
                $("input[name='first'][value=" + first + "]").prop("checked", true);
            }
            var mri_examination = Number("{{ patient_detail.mri_examination }}");
            if ('{{ patient_detail.mri_examination }}' != 'None') {
                $("input[name='mri_examination'][value=" + mri_examination + "]").prop("checked", true);
            }
            var drugs_information = Number("{{ patient_detail.drugs_information }}");
            if ('{{ patient_detail.drugs_information }}' != 'None') {
                $("input[name='drugs_information'][value=" + drugs_information + "]").prop("checked", true);
            }


        }
    </script>
{% endblock %}

{% block js %}

    <script type="text/javascript" language="JavaScript">

        $(document).ready(function () {
            document.getElementById("patient_id").innerHTML = 'NN_' + formatZero({{ patient_baseinfo.id }}, 8)
            document.cookie = "enter_page=select;path=/"

            // 扫描备注切换
            let $option_num = $('#scan_note_num_container'),
                $option_note = $('#scan_note_option')
            let global_num_value = $option_num.find('input').val()
            ,global_option_value = $option_note.find('option:selected').val()
            var value;
            $option_note.change(function (){
                console.log('global: '+global_option_value)
                let that = $(this)
                value = that.find('option:selected').val()
                console.log('value: '+value)
                if(value >= '3'){
                    console.log('3，4，5,6走这边!')
                    $option_num.show()
                    if (global_option_value === value){
                        console.log('相等')
                        $option_num.find("input").val(global_num_value)
                    }else{
                        console.log('不相等')
                        $option_num.find("input").val(0)
                    }
                    if (value === '5'){
                        $option_num.find("span").eq(1).html('月')
                    }else{
                        $option_num.find("span").eq(1).html('次')
                    }
                }else{
                    console.log('0，1，2走这边!')
                    $option_num.find("input").val(0)
                    $option_num.hide()
                }
            })

        });

        function formatZero(num, len) {
            if (String(num).length > len) return num;
            return (Array(len).join(0) + num).slice(-len);
        }

    </script>

    <script type="text/javascript" src="{% static '/js/jquery-radio-beauty.js' %}"></script>

    <script>
        $(document).ready(function () {
            $("input[type='radio']").labelauty();
        });
        function remove_disabled(){
            $("input[name='blood_sampling_date']").removeAttr("disabled","disabled");
            $("input[name='inspect_date']").removeAttr("disabled","disabled");
            $("input[name='total_blood_number']").removeAttr("disabled","disabled");
            $("input[name='plasma_number']").removeAttr("disabled","disabled");
            $("input[name='hemocyte_number']").removeAttr("disabled","disabled");
            $("input[name='extract_dna']").removeAttr("disabled","disabled");
        }
        function add_disabled(){
            $("input[name='blood_sampling_date']").attr("disabled","disabled");
            $("input[name='inspect_date']").attr("disabled","disabled");
            $("input[name='total_blood_number']").attr("disabled","disabled");
            $("input[name='plasma_number']").attr("disabled","disabled");
            $("input[name='hemocyte_number']").attr("disabled","disabled");
            $("input[name='extract_dna']").attr("disabled","disabled");
        }

         function addCookie(name,value,expiresHours){
            var cookieString=name+"="+escape(value);
            //判断是否设置过期时间
            if(expiresHours>0){
            var date=new Date();
            date.setTime(date.getTime+expiresHours*3600*1000);
            cookieString=cookieString+"; expires="+date.toGMTString()+";path=/";;
            }
            document.cookie=cookieString;
        }
        function blood_sample_id_change(){
             blood_sample_id=document.getElementsByName('blood_sample_id')[0].value;
             if(blood_sample_id==''){
                {#$("input[name='blood_sampling_date']").val('');#}
                {#$("input[name='inspect_date']").val('');#}
                {#$("input[name='total_blood_number']").val('');#}
                {#$("input[name='plasma_number']").val('');#}
                {#$("input[name='hemocyte_number']").val('');#}
                {#$("input[name='extract_dna']").val('');#}
                {#$("input[name='note']").val('');#}
                {#$("input[name='blood_sample_id']").val('-请输入-');#}
                add_disabled()
             }else {
                 remove_disabled()
             }
        }


    </script>



{#    <script>#}
{#        function judge_diagnosis(obj) {#}
{#            if (obj.options[obj.selectedIndex].value == 99) {#}
{#                document.getElementById("other_diagnosis_div").style.display = "";#}
{#            } else {#}
{#                document.getElementById("other_diagnosis_div").style.display = "none";#}
{#            }#}
{#        }#}
{##}
{#    </script>#}


{% endblock %}